<div class="citas-anfitrion">
    <div style="margin-left: 10%; margin-right: 10%; text-align: center;">
        <table [ngStyle]="listaCitas.length > 0 ? {'display': 'block'} : {'display': 'none'}">
            <thead>
                <tr>
                    <th width="15%">Fecha</th>
                    <th width="15%">Hora</th>
                    <th width="200px">Nombre de la empresa</th>
                    <th width="15%">Motivo</th>
                    <th width="15%">Estado</th>
                    <th width="15%">Gestión</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of citas | async">
                    <td>{{ formatoDeFecha(item.appointmentDate) }}</td>
                    <td>{{ formatoHora(item.startHour) }} - {{ formatoHora(item.endHour) }}</td>
                    <td>{{ item.companyNameGuest || "" }}</td>
                    <td>{{ item.appointmentReason }}</td>
                    <td>{{ convertirStateId(item.idState) }}</td>
                    <!-- <td>{{ item.isActive ? 'Activa' : 'Inactiva' }}</td> -->
                    <td>
                        <app-button 
                            *ngIf="item.reprogramar"
                            text="REPROGRAMAR" 
                            width="150px" 
                            backgroundColor="#376bf9"
                            (onClick)="reprogramarCita(item)">
                        </app-button>
                        <app-button 
                        *ngIf="item.cancelar"
                        text="CANCELAR CITA" width="150px"
                        backgroundColor="#376bf9"
                            (onClick)="cancelarCita(item,dialogTemplateCancelar)">
                        </app-button>
                        <app-button 
                        *ngIf="item.detalles"
                        text="VER DETALLE" width="150px"
                        backgroundColor="#376bf9"
                            (onClick)="openPopupRechazarCancelar(item, dialogTemplateCancelacionRechazo)">
                        </app-button>
                        <app-button 
                        *ngIf="item.idState === 12"
                        text="REGISTRAR CONCLUSIONES" width="150px"
                        backgroundColor="#376bf9"
                            (onClick)="abrirDialogTemplate(item, dialogTemplate)">
                        </app-button>
                        <app-button 
                        *ngIf="item.conclusiones"
                        text="VER CONCLUSIONES" width="150px"
                        backgroundColor="#376bf9"
                            (onClick)="verRespuestas(item,dialogRespuestasConclusionesTemplate)">
                        </app-button>
                    </td>
                </tr>
            </tbody>
        </table>
        <!-- <div style="margin-left: 18%; margin-top: 2%; margin-left: 25%; margin-right: 30%"> -->
        <div style="margin-top: 2%; display: flex; justify-content: center;" [ngStyle]="listaCitas.length > 0 ? {'display': 'block'} : {'display': 'none'}">
            <mat-paginator [pageSizeOptions]="[3]" hidePageSize="true" showFirstLastButtons="true">
            </mat-paginator>
        </div>
    </div>
    <app-popup-cambios 
        *ngIf="isPopupCambios" 
        [message]="mensajePopupCambios" 
        (close)="closePopupCambios($event)">
    </app-popup-cambios>
    <app-popup-confirmation *ngIf="isPopupConfirmacion" [message]="mensajePopupConfirmacion"
        (close)="closePopupConfimacion($event)">
    </app-popup-confirmation>
</div>

<ng-template #dialogTemplate>
    <div class="modal-conclusiones">
        <div class="div-principal center-content">
            <span class="text-titulo">CONCLUSIONES DE LA CITA DE NEGOCIOS</span>
        </div>
        <div style="display: none;">{{isBtnGuardarConcluciones()}}</div>

        <div class="center-content responder-preguntas">
            <div class="div-principal" *ngFor="let item of formulariosConclusiones;index as i;">
                <div *ngIf="item.isToShow && verPorCondicionDOMPregunta(item.condition)!=true">
                    <hr *ngIf="i>=1">
                    <div style="justify-content: center;">
                        <span class="text-negrita m-1" style="padding: 0 0.5rem;">{{item.name}} <span
                                *ngIf="item.isRequiredDiligence">*</span></span>

                                <form>
                                    <div *ngFor="let respuesta of item.answersOptions;index as ir"
                                    style="align-items: center; display: flex; padding: 0 0.5rem;">
        
                                    <input type="radio" [name]="'preguntaRespuesta-'+item.id" (change)="respuestaSeleccionada(formulariosConclusiones, i, ir, 'preguntaRespuesta-'+i+'-'+ir, 'radio')"
                                        [id]="'preguntaRespuesta-'+i+'-'+ir" [value]="respuesta.name"
                                        *ngIf="item.questionType.id==1">
                                    <input type="checkbox" [name]="'preguntaRespuesta-'+item.id" (change)="respuestaSeleccionada(formulariosConclusiones, i, ir, 'preguntaRespuesta-'+i+'-'+ir, 'check')"
                                        [id]="'preguntaRespuesta-'+i+'-'+ir" [value]="respuesta.name"
                                        *ngIf="item.questionType.id==2">
                                    <span class="text-regular" style="padding: 0 0.5rem;">{{respuesta.name}}</span>
                                </div>
                                </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- !disabledBtnGuardarConcluciones -->
        <div class="center-content" style="margin-top: 1em; margin-bottom: 1em;" 
            [ngStyle]="deshabilitarEnvioConsolidado ? { 'opacity': '0.5', 'pointer-events': 'none' }: {}">
            <app-button text="GUARDAR" width="150px"
                (click)="guardarConcluciones()">
            </app-button>
        </div>
    </div>
</ng-template>

<ng-template #dialogRespuestasConclusionesTemplate>
    <div class="modal-conclusiones">
        <div class="div-principal center-content">
            <span class="text-titulo">CONCLUSIONES DE LA CITA DE NEGOCIOS</span>
        </div>
        <div style="display: none;">{{isBtnGuardarConcluciones()}}</div>

        <div class="center-content responder-preguntas">
            <div style="justify-content: center;">
                <span class="text-negrita m-1" style="padding: 0 0.5rem;"> <b>Nombre de la empresa:</b> </span>
                <span>{{itemActual.companyNameHost}}</span>
            </div>
            <div style="justify-content: center;">
                <span class="text-negrita m-1" style="padding: 0 0.5rem;"> <b>Fecha de la cita:</b> </span>
                <span>{{ formatoDeFecha(itemActual.appointmentDate) }}</span>
            </div>
            <div style="justify-content: center;">
                <span class="text-negrita m-1" style="padding: 0 0.5rem;"><b>Hora: </b></span>
                <span>{{itemActual.startHour.split(':')[0]}}:00-{{itemActual.endHour.split(':')[0]}}:00</span>
            </div>
            <div class="div-principal" *ngFor="let item of itemActual.respuestas;index as i;">
                <div>
                    <hr style="margin-top: 10px; margin-bottom: 10px">
                    <div style="justify-content: center;">
                        <span class="text-negrita m-1" style="padding: 0 0.5rem;">{{item.ask}}</span>
                        <span>{{item.response}}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="center-content" style="margin-top: 1em; margin-bottom: 1em;" >
            <app-button text="REGRESAR" width="150px"
                (click)="cerrarDialogTemplate()">
            </app-button>
        </div>
    </div>
</ng-template>

<ng-template #dialogTemplateCancelacionRechazo>
    <div class="modal-conclusiones">
        <div class="div-principal center-content">
            <span class="text-titulo">{{this.mensajeRechazarCancelar.title}}</span>
        </div>
        <br>
        <br>
        <div class="center-content" style="margin-top: 1em; margin-bottom: 1em;">
            <p>
                {{this.mensajeRechazarCancelar.body || motivo}}
            </p>
        </div>
        <br>
        <br>
        <div class="center-content" style="margin-top: 1em; margin-bottom: 1em;">
            <app-button style="margin-left: 5px;" text="REGRESAR" width="150px"
                (click)="cerrarDialogTemplate()">
            </app-button>
        </div>
    </div>
</ng-template>


<ng-template #dialogTemplateCancelar>
    <div class="modal-conclusiones">
        <div class="div-principal center-content">
            <span class="text-titulo">¿Cuál es el motivo de la cancelación de la cita?</span>
        </div>
        <div class="center-content responder-preguntas">
            <div class="div-principal" style="text-align: left" *ngFor="let item of motivosCancelacionCita">
                <input type="radio" name="motivoCancelacionCita" [value]="item.name" [(ngModel)]="motivoCancelacionCita">
                <span class="text-negrita ml-1">{{item.name}}</span>
            </div>
        </div>
        <div class="center-content" style="margin-top: 1em; margin-bottom: 1em;">
            <app-button text="ACEPTAR" width="150px" [disabled]="!motivoCancelacionCita"
                (click)="guardarCancelarCita()">
            </app-button>
            <app-button style="margin-left: 5px;" text="CANCELAR" width="150px"
                (click)="cerrarDialogTemplate()">
            </app-button>
        </div>
        <div style="display: none;">{{isBtnGuardarMotivoCancelacion(motivosCancelacionCita)}}</div>
    </div>
</ng-template>