<p *ngIf="!esEmpresa">Por favor tienes que hacer login</p>

<section>
    <div id="admin-top">
        <div><span class="bienvenido">BIENVENIDO(A)</span></div>
        <h2>COMPRAS PÚBLICAS</h2>
        <p>A continuación encontrará el listado de funcionalidades para su gestión</p>
    </div>
    <div id="empresa-bottom">
        <div>
            <div>
                <div class="icono-opciones">
                    <img src="assets/imgs/home/consultar-procesos.svg" alt="">
                </div>
                <div>
                    <span>Consultar procesos de <br>
                        contratación
                    </span>
                </div>
            </div>
            <div>
                <div class="icono-opciones">
                    <img src="assets/imgs/home/consultar-planes.svg" alt="">
                </div>
                <div>
                    <span>Consultar planes de <br>
                        adquisición
                    </span>
                </div>
            </div>
            <div>
                <div class="icono-opciones">
                    <img src="assets/imgs/home/ver-ofertas.svg" alt="">
                </div>
                <div>
                    <span>Ver mis ofertas de <br>
                        compras públicas
                    </span>
                </div>
            </div>
            <div>
                <div class="icono-opciones">
                    <img src="assets/imgs/home/gestionar-intereses.svg" alt="">
                </div>
                <div>
                    <span>Gestionar mis intereses <br>
                        en compras públicas
                    </span>
                </div>
            </div>
        </div>

    </div>
</section>


