<div class="modal-header d-flex justify-content-center align-items-center">
    <h2 class="modal-title font_title p-0 m-0">Enviar notificación</h2>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="ball-fall" [fullScreen]="true">
    <p style="color: white">Cargando...</p>
</ngx-spinner>


<div class="modal-body">
    <form novalidate [formGroup]="form" (ngSubmit)="save($event)">
        <div class="container d-flex flex-column justify-content-center align-items-center">
            <div class="form-input" style="z-index:10;">
                <label class="label">
                    <!-- [ngClass]="{ 'label-incorrecto': form['titulo'] }" -->
                    <span class="label px-4">
                        Saludo |
                        <span class="text-color-red">
                            {{
                            form.get("msjSaludo").value
                            | conteoCaracteres: formProperties.msjSaludo.maxCaracteres
                            }}
                        </span>
                    </span>
                    <div class="content-asterisk">
                        <textarea class="textarea-asterisk px-2"
                            [ngClass]="{'inputInvalid': form.get('msjSaludo').invalid == true && activeValidator == true}"
                            formControlName="msjSaludo" id="msjSaludo" #msjSaludo maxlength="50"
                            (keypress)="patternValidation($event)" (paste)="patternValidationPaste($event)"></textarea>
                        <span class="asterisk-textarea"
                            [ngClass]="{'asterisk-textarea-invalid': form.get('msjSaludo').invalid == true && activeValidator == true}">*</span>
                    </div>
                </label>
            </div>

            <div class="form-input" style="z-index:10;">
                <label class="label">
                    <!-- [ngClass]="{ 'label-incorrecto': form['titulo'] }" -->
                    <span class="label px-4">
                        Mensaje |
                        <span class="text-color-red">
                            {{
                            form.get("msjCuerpoCorreo").value
                            | conteoCaracteres: formProperties.msjCuerpoCorreo.maxCaracteres
                            }}
                        </span>
                    </span>
                    <div class="content-asterisk">
                        <textarea class="textarea-asterisk px-2"
                            [ngClass]="{'inputInvalid': form.get('msjCuerpoCorreo').invalid == true && activeValidator == true}"
                            formControlName="msjCuerpoCorreo" id="msjCuerpoCorreo" #msjCuerpoCorreo maxlength="300"
                            (keypress)="patternValidation($event)" (paste)="patternValidationPaste($event)"></textarea>
                        <span class="asterisk-textarea"
                            [ngClass]="{'asterisk-textarea-invalid': form.get('msjCuerpoCorreo').invalid == true && activeValidator == true}">*</span>
                    </div>
                </label>
            </div>

            <div class="form-input" style="z-index:10;">
                <label class="label">
                    <!-- [ngClass]="{ 'label-incorrecto': form['titulo'] }" -->
                    <span class="col-sm-12 p-0 m-0 mb-2 d-flex justify-content-start align-items-center">
                        <span class="col-sm-6 d-flex justify-content-start align-items-center">
                            Información del evento |
                            <span class="text-color-red d-flex justify-content-center align-items-center">
                                {{
                                form.get("msjCuerpoCorreo").value
                                | conteoCaracteres: formProperties.msjCuerpoCorreo.maxCaracteres
                                }}
                            </span>
                        </span>
                        <div class="col-sm-4 d-flex justify-content-between align-items-center">
                            <span class="label px-4 d-flex justify-content-center align-items-center">
                                Incluir
                            </span>
                            <label class="col-sm-2 p-0 m-0 d-flex justify-content-center align-items-center">
                                <input type="range" class="slider" min="0" max="1" formControlName="typelink">
                            </label>
                            <span class="label px-4 d-flex justify-content-center align-items-center">
                                No incluir
                            </span>
                        </div>
                    </span>
                    <div class="content-asterisk">
                        <div class="col-sm-12 p-2 m-0 rounded contentInfo"
                            [ngClass]="{'contentInfoGray': form.get('typelink').value == 1}"
                            [innerHTML]="form.get('msjEvento').value"></div>
                    </div>
                </label>
            </div>

            <div class="form-input" style="z-index:10;">
                <label class="label">
                    <!-- [ngClass]="{ 'label-incorrecto': form['titulo'] }" -->
                    <span class="label px-4">
                        Despedida |
                        <span class="text-color-red">
                            {{
                            form.get("msjDespedida").value
                            | conteoCaracteres: formProperties.msjDespedida.maxCaracteres
                            }}
                        </span>
                    </span>
                    <div class="content-asterisk">
                        <textarea class="textarea-asterisk px-2"
                            [ngClass]="{'inputInvalid': form.get('msjDespedida').invalid == true && activeValidator == true}"
                            formControlName="msjDespedida" id="msjDespedida" #msjDespedida maxlength="50"
                            (keypress)="patternValidation($event)" (paste)="patternValidationPaste($event)"></textarea>
                        <span class="asterisk-textarea"
                            [ngClass]="{'asterisk-textarea-invalid': form.get('msjDespedida').invalid == true && activeValidator == true}">*</span>
                    </div>
                </label>
            </div>

            <div class="form-group text-center submit-rol-button">
                <!-- [disabled]="form.invalid" [ngClass]="{ disabled: form.invalid }" -->
                <button class="btn_third" [ngClass]="{ disabled: !form.valid }" type="submit">
                    Guardar
                </button>
            </div>
        </div>
    </form>
</div>