<div class="block_contact " id="contacto">
    <br>
    <br>
    <div class="contact_title ">
        <span style="display: block; margin: auto;" class="icon asistencia"></span>
        <h2 style="margin-left: 12px;" class="font_title">Quiero contactar al Ministerio</h2>
        <span style="margin: auto;" class="content_decorator2_horizontal"> </span>
    </div>
    <h5 class="font_plb" style="padding: 20px;font-size: 30px;">¿Necesitas ayuda del Ministerio?</h5>
    <br>
    <div class=" btn_contain">

        <div class="div_btn"
            data-tooltip="¿Tienes dudas respecto a los procesos institucionales o capacidades? posiblemente aquí encuentres respuesta a tus inquietudes">

            <span style="display: inline-block; width: 35px; height: 35px;margin: auto;" class="icon FAQ"></span>
            <span>
                <a [routerLink]="['/preguntas_frecuentes']"
                    class="btn_primary_mod h5" style="display: block;margin: auto;color: white; border-left: 1px dashed white;
                        padding: 5px 25px;">
                    Consultar Preguntas frecuentes </a>
            </span>

        </div>
        <br>
        <hr class="hr_contactar">
        <div class="div_btn"
            data-tooltip="Aquí puedes solicitar y encontrar apoyo del Ministerio para el fortalecimiento de las capacidades de la Secretaría de Educación">
            <!--  <div class="icon_cont asistencia"></div> -->
            <span style="display: inline-block; width: 40px; height: 40px;margin: auto 17px"
                class="icon asistencia"></span>
            <span>
                <a [routerLink]="['/asistencia']" class="btn_primary_mod h5"
                    style="display: block;margin: auto;color: white; border-left: 1px dashed white;
                    padding: 5px 30px;">
                    Solicitar asistencia técnica integral
                </a>
            </span>

        </div>
        <span class="candado_2"></span>

    </div>

</div>
