.div_buttons {
  border-top: 2px dashed #f42f63;
  padding-top: 23px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 29px;
}
.div_btn {
  align-items: center;
  position: relative;
  display: inline-flex;
  background-color: #3366cc;
  padding: 10px 10px;
  border-radius: 20px;
  @media screen and (min-width: 768px) {
    width: 430px;
  }
}
.icon_cont {
  background-color: #3366cc;
  height: 80px;
  width: 80px;
  position: relative;
  margin-right: 10px;
  align-items: center;
  display: grid;
  border-radius: 15px;
}

.rigth > [data-tooltip]:hover:before,
[data-tooltip]:hover:after {
  margin-left: 0px !important;
}

.block_contact {
  background-color: #e1f1ff;
  text-align: center;
  padding-top: 40px;

  @media screen and (min-width: 768px) {
    height: 600px;
  }
}

.hr_contactar {
  margin-top: 35px;
  border-top: 2px dashed #f42f63;
  padding-top: 35px;
  width: 32%;

  @media screen and (max-width: 767px) {
    padding-top: 14px;
  }
}

.btn_primary_mod-1 {
  display: block;
  margin: auto;
  color: white;
  margin-right: 71px;
  border-left: 1px dashed white;
  padding: 10px 17px;

  @media screen and (max-width: 767px) {
    margin-right: 0;
  }
}

@media screen and (max-width: 767px) {
  .btn_contain {
    padding-left: 0.5em;
    padding-right: 0.5em;

    @media screen and (max-width: 767px) {
      padding-bottom: 2em;
    }
  }

  .div_btn .icon {
    width: 35px !important;
    height: 35px !important;
    margin: 0 !important;
    margin-right: 0.25em !important;
    background-position: center !important;
  }
}
