.content {
    position: relative;
}

.banner-cita{
    margin-bottom: -8%;
    position: initial;
}

.configuracion {
    // position: absolute; 
    // left: 10%; 
    // top: 80%;
    width: 80%;
    background-color: rgb(255 255 255);
    box-shadow: 2px 2px 5px #999;
    // padding-bottom: 25px;
    padding: 2rem 4rem;
}
