.navbar {
  padding: 0 !important;
  background-color: #f2f2f2 !important;
}
.li_border {
  border-right: 1px solid #3366cc;
  display: flex;
  align-items: center;
}

.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show > .nav-link {
  color: #6699ff !important;
}
.navbar-expand-lg .navbar-nav .nav-link {
  color: #6699ff !important;
}

.btn_secundary_allwith {
  padding: 8px 15px;
}

.w-th-calificacion {
  width: 14em;
}

.select {
  border: none;
  width: 8em;
  margin-left: auto;
  margin-right: auto;

  // >.combox {
  //   width: calc(100% - 2em);
  // }

  &::after {
    font-size: 1.8em;
    top: -5px;
    right: 0;
  }
}
.select2 {
  width: 100%;
  border: 1px solid #3366cc;
  height: 2.2em;
}
.select2::after {
  content: "▼";
  position: absolute;
  top: 4.85em;
  right: 1em;
  background: #fff;
  color: #3366cc;
  font-weight: bold;
  cursor: pointer;
  pointer-events: none;
  transition: 0.25s all ease;
}


$pink: #ff3466;
.tooltip {
  position: relative;
  background: $pink;
  color: #3366cc;
  padding: 5px 12px;
  margin: 5px;
  font-size: 15px;
  border-radius: 100%;
  display: contents;
}

.tooltip:before,
.tooltip:after {
  position: absolute;
  // content: '';
  opacity: 0;
  transition: all 0.4s ease;
  margin-left: 100px;
  margin-top: 31px;
}
.tooltip:before,
.tooltip:after {
  margin-top: 57px;
}

.tooltip:before {
  border-width: 10px 8px 0 8px;
  width: 100%;
  border-style: solid;
  border-color: $pink transparent transparent transparent;
  top: -15px;
  transform: translateY(20px);
}

.tooltip:before, .tooltip:after {
  position: absolute;
  opacity: 0;
  transition: all 0.4s ease;
  width: 294vh !important;
  margin-left: 102px;
}

.tooltip:after {
  content: attr(data-tooltip);
  background: $pink;
  width: 100%;
  //width: 74em;
  color: white;
  height: auto;
  font-size: 13px;
  font-weight: 300;
  top: -145px;
  left: -10px;
  padding: 10px;
  border-radius: 5px;
  letter-spacing: 1px;
  transform: translateY(20px);
}

.tooltip:hover::before,
.tooltip:hover::after {
  opacity: 1;
  transform: translateY(-2px);
  margin-left: 140px;
}


.tooltip3 {
  position: relative;
  background: $pink;
  color: #3366cc;
  padding: 5px 12px;
  margin: 5px;
  font-size: 15px;
  border-radius: 100%;
  display: contents;
}

.tooltip3:before,
.tooltip3:after {
  position: absolute;
  // content: '';
  opacity: 0;
  transition: all 0.4s ease;
  //margin-left: 100px;
  margin-top: 31px;
}
.tooltip3:before,
.tooltip3:after {
  margin-top: 57px;
}

.tooltip3:before {
  border-width: 10px 8px 0 8px;
  width: 100%;
  border-style: solid;
  border-color: $pink transparent transparent transparent;
  top: -15px;
  transform: translateY(20px);
}

.tooltip3:before, .tooltip:after {
  position: absolute;
  opacity: 0;
  transition: all 0.4s ease;
  width: 294vh !important;
  margin-left: -291px;
}

.tooltip3:after {
  content: attr(data-tooltip);
  background: $pink;
  width: 100%;
  //width: 70em;
  color: white;
  height: auto;
  font-size: 13px;
  font-weight: 300;
  top: -145px;
  left: -10px;
  padding: 10px;
  border-radius: 5px;
  letter-spacing: 1px;
  transform: translateY(20px);
  margin-left: -256px;
}

.tooltip3:hover::before,
.tooltip3:hover::after {
  opacity: 1;
  transform: translateY(-2px);
}

.tooltip3 {
  position: relative;
  background: $pink;
  color: #3366cc;
  padding: 5px 12px;
  margin: 5px;
  font-size: 15px;
  border-radius: 100%;
  display: contents;
}

.tooltip3:before,
.tooltip3:after {
  position: absolute;
  // content: '';
  opacity: 0;
  transition: all 0.4s ease;
  //margin-left: 100px;
  margin-top: 31px;
}
.tooltip3:before,
.tooltip3:after {
  margin-top: 57px;
}

.tooltip3:before {
  border-width: 10px 8px 0 8px;
  width: 100%;
  border-style: solid;
  border-color: $pink transparent transparent transparent;
  top: -15px;
  transform: translateY(20px);
}

.tooltip3:before, .tooltip:after {
  position: absolute;
  opacity: 0;
  transition: all 0.4s ease;
  width: 294vh !important;
  margin-left: -291px;
}

.tooltip3:after {
  content: attr(data-tooltip);
  background: $pink;
  width: 100%;
  //width: 70em;
  color: white;
  height: auto;
  font-size: 13px;
  font-weight: 300;
  top: -145px;
  left: -10px;
  padding: 10px;
  border-radius: 5px;
  letter-spacing: 1px;
  transform: translateY(20px);
  margin-left: -256px;
}

.tooltip3:hover::before,
.tooltip3:hover::after {
  opacity: 1;
  transform: translateY(-2px);
}
// option::hover{
  
// }

@media screen and (max-width: 767px) {
  .sin-padding-celular {
    padding-left: 0;
    padding-right: 0;
  }
}