<div class="container contenedor">
    <div class="row justify-content-md-center">
        <div class="col-md-12 text-center">
            <h2 class="font_title">Gestionar contenidos</h2>
            <br>
        </div>
        <div class="form-group text-center">
            <a class="btn_secundary_allwith" routerLink="./temas">
                Gestionar temas
            </a> <br>
            <a class="btn_secundary_allwith" routerLink="./bibliotecas">
                Gestionar bibliotecas
            </a><br>
            <a class="btn_secundary_allwith" routerLink="./contenidos">
                Gestionar contenidos
            </a>
        </div>
    </div>
</div>