<div class="modal-body">
  <p class="message">
    Será enviada una notificación a los asistentes, a
    continuación podrá editarla
  </p>

  <div class="form-group">
    <label class="bold">Notificación para los asistentes</label>
    <textarea class="form-control"
        [(ngModel)]="notificacion" [ngModelOptions]="{standalone: true}" rows="3"></textarea>
  </div>

  <div class="form-group text-center">
    <span class="btn_third" (click)="close()">
      Aceptar
    </span>
  </div>
</div>
