.content {
    margin-top: 25px;
    margin-bottom: 25px;
    text-align: center;
}

.paleta {
    display: inline-block; 
    text-align: center; 
    margin-left: 10px;
    margin-right: 10px
}

.text-color {
    padding-top: 10px
}

.cuadrado {
    width: 20px; 
    height: 20px; 
    margin: 0 auto;
    border-color: black;
    border-style: solid;
}

.seleccionado {
    background: #3366cc;
}

.no-seleccionado {
    background: white;
}

.deshabilitado {
    background: #3366cc;
    opacity: 0.5
}

.title {
    color: #4169af;
    font-size: 14px;
    font-weight: 800;
    margin-top: 10px;
    margin-right: 20%;
    margin-left: 20%;
}

.parrafo {
    font-size: 12px;
    margin-top: 20px;
    margin-right: 10%;
    margin-left: 10%;
    background-color: rgb(235 235 235);
    padding: 20px;
}

table{
    table-layout: fixed;
    width: 100%;
}

th, td {
    width: 100px;
    word-wrap: break-word;
    border: none;
}

td {
    padding: 5px;
    cursor: pointer;
}

.inactive-time {
    background-color: rgb(255, 255, 255);
    color: #3366cc;
    font-size: 12px;
    font-weight: bold;
}

.active-time {
    background-color: #3366cc;
    color: rgb(255, 255, 255);
    font-size: 12px;
    font-weight: bold;
}

.button, .footer {
    margin-top: 25px;
}

.footer {
    margin-right: 10%;
    margin-left: 10%;
}

.top-footer {
    display: grid;
    grid-template-columns: 40% 60%;
}

.top-footer > .left-footer {
    text-align: left;
    padding-top: 10px;
    font-size: 12px;
}

.top-footer > .rigth-footer {
    // display: flex;
    // // grid-template-columns: 30% 70%;
    // text-align: right;
    display: grid;
    grid-template-columns: 30% 70%;
}

.rigth-footer > .text {
    // margin-right: 5px;
    font-size: 12px;
    color: #000000;
    font-weight: bold;
    margin-top: 5px;
}

.left-footer > img {
    margin-left: 10px;
    cursor: pointer;
}

.alert-info{
    position: absolute;
    z-index: 200;
    left: 8%;
    // top: 73%;
    margin-top: -20px;
    background-color: #2b65f5;
    border-radius: 6px;
    color:#fff;
    padding: 2px 6px;
    font-size: 10px
}



.info-ayuda-contenedor{
    border:1ox solid red;
    width: 60%;
    margin-left: 20%;
}


.close-info{
    text-align: right;
    padding-bottom: 10px;
  }
  
  .close-info span{
    background-color: #d8d8d8;
    color:#333;
    padding: 1px 3px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    font-size: 12px;
  }
  
  .close-info span:hover{
    background-color: #a09e9e;
  }
  
  .info-ayuda{
    background-color:#f1f1f1;
    border-left: 5px solid #3366ff;
    text-align: justify;
    padding: 4px 12px;
    width:100%;
    font-size: 16px;
    color:#7d7d7d;
  }