.mail-card {
    border-style: solid;
    border-radius: 5px;
    padding: 16px;
    background-color: #ffffff;
}

h3, .btn-content {
    text-align: center;
}

.btn-figure{
	margin: 20px auto;
	border: none;
	padding: 10px 44px;
	position: relative;
	background: #2e60ff;
    border-radius: 40px;
    color: #fff;
}

p {
    margin: 0;
}