.navbar {
  padding: 0 !important;
  background-color: #f2f2f2 !important;
}
.li_border {
  border-right: 1px solid #3366cc;
  display: flex;
  align-items: center;
}

.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show > .nav-link {
  color: #6699ff !important;
}
.navbar-expand-lg .navbar-nav .nav-link {
  color: #6699ff !important;
}

.btn_primary {
  padding: 7px 23px;
  font-size: 19px;
}

.pass-novalid {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 10px;
}
.cnv1 {
  background-color: #e30613;
}
.cnv2 {
  background-color: #ed7212;
}
.cnv3 {
  background-color: #f6a600;
}
.cnv4 {
  background-color: #ffda00;
}

.pass-valid {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 10px;
}

.cv1 {
  background-color: #dedc00;
}
.cv2 {
  background-color: #cad400;
}
.cv3 {
  background-color: #adc914;
}
.cv4 {
  background-color: #94c122;
}
