<section class="sLogistico">
    <div class="sLogistico--container container">
        <h1 class="sLogistico--h1">Simulador logístico</h1>
        <p class="sLogistico--p" style="margin:0">
            En Compra Lo Nuestro podrás fortalecer tu conocimiento
        </p>
        <p class="sLogistico--p" style="margin:0">
            acerca de las cadenas de abastecimiento y crear la cadena
        </p>
        <p class="sLogistico--p" style="margin:0">
            que se adapte a los procesos de tu empresa.
        </p>
    </div>
</section>