<div class="container-max contenedor">
  <ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="ball-fall" [fullScreen]="true">
    <p style="color: white">Cargando...</p>
  </ngx-spinner>
  <div class="container">
    <app-contenidos-titulo-roles (evento)="reloadtable($event)" [titulo]="titulo" [permitsUser]="permitsUser">
    </app-contenidos-titulo-roles>
  </div>
  <app-table-dynamic-rol (buildAction)="buildAction($event)" [dataRow]="configuration.rowOrderData"
    [dataToPrint]="configuration.dataToPrint" [permitsUser]="permitsUser" [emptyConfiguration]="emptyConfiguration"></app-table-dynamic-rol>
</div>