<div class="row logoEscuelaSecretarias">

</div>
<div class="container">

    <div class="row">
        <div class="col-12 title">
            ¡ Cordial Saludo !
        </div>
    </div>
        <div class="row">
            <div class=" col-md-1">
                <div class="bandera">  </div>
            </div>
            <div class=" col-md-11 subTitulo">
                Actualmente su rol de usuario no cuenta con bibliotecas habilitadas, en caso que
                requiera gestionar
                contenidos de una o más bibliotecas, por favor comuníquese con el <strong>Administrador central del
                    MEN</strong>,
                para que realice la correspondiente habilitación.
            </div>
        </div>
        <div class="row">
            <div class="col-12 gracias">
                Muchas gracias
            </div>
        </div>

</div>
<hr class="RedLine">
<div class="row d-flex justify-content-center">
    <img class="logo_men" src="./../../../../../assets/img/logo_men.png" alt="">
</div>