.wrapper{
  width: 100%;
  position: relative;
  cursor: default;
}

.select-btn, li{
  display: flex;
  /* align-items: center; */
}

.select-btn{
  min-height: 30px;
  padding: 0px;
  font-size: 22px;
  background: #ececec;
  border-radius: 7px;
  display: flex;
  justify-content: space-between;
}

.select-btn p{
  width:80%;
  padding: 0px 15px;
  margin: 0px;
  font-size: 14px;
}

.arrow-right{
  background:#d4d4d4;
  width:30px;
  height: 33px!important;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.arrow-right img{
  width: 18px;
}

.content{
  position: absolute;
  display: none;
  width:100%;
  top: 35px;
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
  z-index:100;
};

.wrapper.active .content{
  display: block;
};

.wrapper.inactive .content{
  display: none;
};

.content .options{
  margin-top: 10px;
  max-height: 150px;
  overflow-y: auto;
  padding: 0px;
};
.options::-webkit-scrollbar{
  width: 7px;
}
.options::-webkit-scrollbar-track{
  background: #f1f1f1;
  border-radius: 25px;
}
.options::-webkit-scrollbar-thumb{
  background: #ccc;
  border-radius: 25px;
}
.options::-webkit-scrollbar-thumb:hover{
  background: #b3b3b3;
}
.options li{
  padding: 10px 20px;
  font-size: 14px;
  cursor: pointer;
}
.options li:hover, li.selected{
  border-radius: 5px;
  background: #f2f2f2;
}
.normalopt{
  background: #fff;
}

.content-box{
  width:95%;
}

.text-area-container{
  border:1px solid red;
  display: flex;
  justify-content: space-between;
}

.input-search-result{
  border: none;
  outline: none;
  background-color: transparent;
  height: 30px;
  width:auto;
  font-size: 12px;
  font-weight: 800;
  max-width: 800px;
  width:auto;
  background-color: rgb(176, 184, 197);
}

.content-box p{
  font-size: 14px;
  cursor: auto;
};

.content-box span{
  font-size: 13px;
  cursor: pointer;
  margin-left: 4px;
  font-weight: bold;
};

.content-box ul{
  display: flex;
  flex-wrap: wrap;
  padding: 2px;
  margin: 0px 0px;
  border-radius: 5px;
}
.content-box ul li{
  color: #333;
  height: 24px;
  margin: 2px 3px 2px 0px;
  padding: 2px 12px 2px 0;
  list-style: none;
  border-radius: 5px;
  background: #bcbcbc;
  color:#333333;
  display: flex;
  flex-wrap: nowrap !important;
  justify-content: center;
  align-items: center;
}

.content-box ul li p{
  width:auto;
}

.content-box ul li span{
  margin: 2px 0 0 0;
}

.input-search{
  border: none;
  outline: none;
  height: 30px;
  font-weight: 500;
  // font-size: 14px;
  background-color: transparent;
  color: #b2b2b2; 
  font-family: 'Open Sans Italic', arial;
  font-size: 16px;
}