<div class="fake-body">
  <div class="container contenedor">
    <ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="ball-fall" [fullScreen]="true">
      <p style="color: white">Cargando...</p>
    </ngx-spinner>
    <app-contenidos-titulo (evento)="reloadtable($event)" [titulo]="titulo" [permitsUser]="permitsUser" *ngIf="titulo">
    </app-contenidos-titulo>
    <app-table-dynamic-contenidos (buildAction)="buildAction($event)" [dataRow]="configuration.rowOrderData"
      [dataToPrint]="configuration.dataToPrint" [permitsUser]="permitsUser" [searchConfig]="searchConfig"
      [emptyConfiguration]="emptyConfiguration"></app-table-dynamic-contenidos>
  </div>
</div>