<section class="sLogistico">
    <div class="sLogistico--container container" style="text-align:center">
        <h2 class="section-cln--h2">COMPRA LO NUESTRO</h2>
        <p class="section-cln--p" style="margin:0">
            Compra Lo Nuestro es una plataforma para promover el desarrollo y
            fortalecimiento de proveedores colombianos e impulsar la compra de productos
            nacionales, bajo el liderazgo del Ministerio de Comercio, Industria y Turismo
            y Colombia Productiva, con el apoyo del Banco Interamericano de Desarrollo.
        </p>
        <button mat-raised-button color="primary" class="section-cln--button mat-rounded-5em" style="margin-top: 30px;">
            <a href="https://compralonuestro.co/register" target="_blank" style="text-decoration: none; color: white;">
                ÚNETE
            </a>
        </button>
    </div>
</section>