.imageContainerThird .image {
    width: 100%;
    min-height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imageContainerThird {
    top: 0px;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
    position: relative;
    display: inline-block;
}

.titulo {
    position: absolute;
    top: 170px;
    left: 25%;
    font-size: 20px;
    color: white;
}

.titulo::after {
    content: " ";
    display: block;
    height: 2px;
    width: 240px;
    position: absolute;
    top: 40px;
    left: 0;
    background: white;
}

.texto1 {
    position: absolute;
    top: 220px;
    left: 25%;
    font-size: 25px;
    color: white;
    font-weight: bold;
}

.texto2{
    position: absolute;
    top: 250px;
    left: 25%;
    font-size: 25px;
    color: white;
    font-weight: bold;
}

.texto3 {
    position: absolute;
    top: 280px;
    left: 25%;
    font-size: 25px;
    color: white;
    font-weight: bold;
}