@import "../../_shared/styles/variables.scss";
.header-blank {
  position: relative;
}
.row .image-container:nth-of-type(1) {
  padding-left: 0px;
  .image {
    padding-left: 0px;
  }
}
.tooltipAct {
  min-width: 100px;
  border-radius: 10px;
  padding: 5px 2px;
  background-color: $color-red;
  color: $color-blanco;
  position: absolute;
  top: 100%;
  z-index: 1030 !important;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tooltipAct p {
  padding: 0px !important;
  margin: 0px !important;
  margin-bottom: 0px !important;
}
.header {
  height: 150px;
  padding: 0px;
  margin: 0;
}
.header-nav {
  margin: 10px 0px 0px 0px;
  height: 30px;
  font-size: 14px;
  line-height: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: $font-family-medium;
  margin-top: 1rem !important;
}
.btn {
  border-radius: 0px;
  cursor: pointer;
  border-right: solid 1px $color-blue;
}
.btn:last-child {
  border: none;
}
.buttonSvg {
  width: 70%;
  height: 22px;
  background-color: #36c;
  display: block;
  -webkit-mask-position: center;
  mask-position: center;
}
.button-informarme {
  /* -webkit-mask: url(src\assets\iconos\Header\quiero_informarme.svg) no-repeat center;*/
  mask: url(src\assets\iconos\Header\quiero_informarme.svg) no-repeat center;
}
.button-aprender {
  -webkit-mask: url(src\assets\iconos\Header\quiero_aprender.svg) no-repeat center;
  mask: url(src\assets\iconos\Header\quiero_aprender.svg) no-repeat center;
}
.button-contactar {
  -webkit-mask: url(src\assets\iconos\Header\contactar_men.svg) no-repeat center;
  mask: url(src\assets\iconos\Header\contactar_men.svg) no-repeat center;
}
.button-compartir {
  -webkit-mask: url(src\assets\iconos\Header\compartir.svg) no-repeat center;
  mask: url(src\assets\iconos\Header\compartir.svg) no-repeat center;
}

.cursor-pointer {
  cursor: pointer;
}
.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px;
  width: 320px;
  max-width: 320px;
  min-height: 120px;
  height: 120px;
  overflow: hidden;
}
.image {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-blank {
  background-color: white;
  background-image: linear-gradient(
      120deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0) 50.6%,
      #6699ff 50.7%,
      #6699ff 100%
    ),
    linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 89%, #6699ff 90%, #6699ff 100%);
  background-size: 100% 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-content {
  color: #ffffff;
  text-align: center;
  font-family: worksans_ligth;
  font-size: 2vw;
  width: 100%;
  background-color: #6699ff00;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 767px) {
  .trianguloazulresponsive {
    position: absolute;
    display: block;
    width: 10vw;
    height: 100%;
    top: 0;
    right: 0%;
    z-index: 5;
    background-color: #6699ff;
    clip-path: polygon(100% 0, 0 100%, 100% 100%);
    // background-image:linear-gradient(98deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 50%, #6699FF 51%, #6699FF 100%);
  }
  .row-image {
    background-color: #ffffff;
    padding-top: 0;
    margin-top: 0;
  }
  .row .image-container:nth-of-type(1) {
    padding-left: 0px;
    .image {
      padding-left: 5vmin;
    }
  }
  .image {
    max-height: 80%;
    padding: 1em 5vmin 1em 5vmin;
  }
  .header {
    height: 400px;
  }
  .header-content {
    background-color: #6699ff;
    font-size: 1.5em;
  }
  .row.header.header-blank {
    background-image: linear-gradient(180deg, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 10%, #69f 11%, #69f 100%);
  }
}
//Quilleditor
.cuerpo {
  width: 100%;
  max-height: 200px;
  overflow: hidden;
  overflow-y: auto;
}
.ql-align-justify {
  text-align: justify !important;
}
.ql-align-center {
  text-align: center !important;
}
.ql-align-right {
  text-align: right !important;
}

.ql-font-serif {
  font-family: Georgia, Times New Roman, serif !important;
}
.ql-font-monospace {
  font-family: Monaco, Courier New, monospace !important;
}

.ql-size-small {
  font-size: 0.75em !important;
}
.ql-size-large {
  font-size: 1.5em !important;
}
.ql-size-huge {
  font-size: 2.5em !important;
}
.ql-font-worksans {
  font-family: $font-family-light;
}
.ql-font-worksansmedium {
  font-family: $font-family-medium;
}
.ql-font-worksanssemibold {
  font-family: $font-family-semi-bold;
}
.ql-font-worksansextrabold {
  font-family: $font-family-extra-bold;
}
.ql-font-bitterbold {
  font-family: $font-family-bitter-bold;
}
.ql-font-bittermedium {
  font-family: $font-family-bitter-medium;
}
.ql-font-bitterregular {
  font-family: $font-family-bitter-regular;
}
.ql-font-firesansbold {
  font-family: $font-family-firasans-bold;
}
.ql-font-firesanslight {
  font-family: $font-family-firasans-light;
}
.ql-font-firesansregular {
  font-family: $font-family-firasans-regular;
}
.ql-font-opensansbold {
    font-family: $font-family-opensans-bold;
}
.ql-font-opensansmedium {
    font-family: $font-family-opensans-medium;
}
.ql-font-opensansregular {
    font-family: $font-family-opensans-regular;
}
.ql-font-opensanslight {
    font-family: $font-family-opensans-light;
}
