<style>
    tbody,
    td {
        border: none;
    }
</style>
<div
    style="word-spacing:normal;background-color:#ffffff;margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0">
    <div style="background-color:#ffffff">
        <!-- head -->
        <div
            style="background-color:#6633cc;background-image:none;background-repeat:repeat;background-position:top left;margin-top:0px;margin-bottom:0px;margin-right:auto;margin-left:auto;max-width:900px;">
            <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation"
                style="background-color:#6633cc;background-image:none;background-repeat:repeat;background-position:top left;width:100%;border-collapse:collapse;border: none;">
                <tbody>
                    <tr>
                        <td
                            style="background-color: #ffffff;direction:ltr;font-size:0px;padding-top:20px;padding-bottom:20px;padding-right:0;padding-left:0;text-align:center;border-collapse:collapse;border: none;">
                            <img style="padding-right: 40px; width: 90%; height: 90%;"
                                src="./logomincomercio.png">
                        </td>
                        <td
                            style="background-color: #ffffff;direction:ltr;font-size:0px;padding-top:20px;padding-bottom:20px;padding-right:0;padding-left:0;text-align:center;border-collapse:collapse;border: none;">
                            <img style="padding-right: 40px; width: 90%; height: 90%;"
                                src="./logocolombiaproductiva.png">
                        </td>
                        <td
                            style="background-color: #ffffff;direction:ltr;font-size:0px;padding-top:20px;padding-bottom:20px;padding-right:0;padding-left:0;text-align:center;border-collapse:collapse;border: none;">
                            <img style="padding-right: 40px; width: 90%; height: 90%;"
                                src="./compralonuestro.png">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- end head -->

        <!-- banner -->
        <div style="margin-top:0px;margin-bottom:0px;margin-right:auto;margin-left:auto;max-width:900px">
            <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation"
                style="width:100%;border-collapse:collapse">
                <tbody>
                    <tr>
                        <td style="width:600px;border-collapse:collapse;padding: 0;">
                            <img alt="banner" width="600" height="auto"
                                style="border-width:0;display:block;outline-style:none;text-decoration:none;height:160px;width:100%;font-size:13px;line-height:100%"
                                src="./imagencorreo_Mesadetrabajo1.png">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- end banner -->

        <!-- text -->
        <div style="margin-top:0px;margin-bottom:0px;margin-right:auto;margin-left:auto;max-width:900px">
            <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation"
                style="width:100%;border-collapse:collapse">
                <tbody>
                    <tr>
                        <td
                            style="background-color: #ffffff;direction:ltr;font-size:0px;padding-top:0px;padding-bottom:0px;padding-right:0px;padding-left:0px;text-align:center;border-collapse:collapse">
                            <img style="margin-bottom:40px; margin-left:15px" src="./mano1.png"
                                width="50px" height="50px">
                        </td>
                        <td
                            style="background-color: #ffffff;direction:ltr;font-size:0px;padding-top:0px;padding-bottom:0px;padding-right:0px;padding-left:0px;text-align:center;border-collapse:collapse">
                            <div style="padding-top: 20px;margin-right: auto; margin-left: auto; text-align: justify;">
                                <div
                                    style="padding-top: 20px; padding-right: 10%; padding-left: 12px; margin-right: auto; margin-left: auto;">
                                    <h1
                                        style="color: #4169af; font-size: 23px; font-family: 'opensans_bold'; margin-bottom: 1rem;">
                                        Estimado (a) empresario (a).</h1>
                                    <p
                                        style="font-weight: 'semibold'; font-size: 17px; font-family: 'opensans_regular'; color: #757575;">
                                        Queremos informarte que se ha realizado la publicación de un nuevo contenido de
                                        interés en la plataforma Compra Lo
                                        Nuestro relacionado con tu sector/industria.
                                    </p>
                                    <p
                                        style="font-weight: 'semibold'; font-size: 17px; font-family: 'opensans_regular'; color: #757575;">
                                        A continuación, encontrarás oportunidades de negocios e información valiosa para
                                        promover el desarrollo y
                                        fortalecimiento de tu empresa:
                                    </p>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- end text -->

        <!-- title -->
        <div style="margin-top:0px;margin-bottom:0px;margin-right:auto;margin-left:auto;max-width:900px">
            <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation"
                style="width:100%;border-collapse:collapse">
                <tbody>
                    <tr>
                        <td
                            style="background-color: #ffffff;direction:ltr;font-size:0px;padding-top:0px;padding-bottom:0px;padding-right:0px;padding-left:0px;text-align:center;border-collapse:collapse">
                            <div style="color: #fff; margin-left: 10%; margin-right: 10%; 
                                margin-top: 15px; margin-bottom: 15px; height: 60px; align-items: center; 
                                display: flex; justify-content: center;">
                                <h1
                                    style="font-family: 'opensans_bold'; font-size: 23px; padding: 12px; background-color: #013593;">
                                    Comunidades
                                </h1>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- end title -->

        <!-- card -->
        <div style="margin-top:0px;margin-bottom:0px;margin-right:auto;margin-left:auto;max-width:900px">
            <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation"
                style="width:100%;border-collapse:collapse">
                <tbody>
                    <tr>
                        <td
                            style="direction:ltr;font-size:0px;padding-top:0px;padding-bottom:0px;padding-right:0px;padding-left:0px;text-align:center;border-collapse:collapse">
                            <div
                                style="border-top: 1px solid #333 !important;font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%">
                                <table border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%"
                                    style="vertical-align:top;border-collapse:collapse">
                                    <tbody>
                                        <tr>
                                            <td
                                                style="background-color: #ffffff;font-size:0px;padding-top:5px;padding-bottom:5px;padding-right:5px;padding-left:5px;word-break:break-word;border-collapse:collapse;border: none;">
                                                <div
                                                    style="padding: 16px; border-color: #b5b5b5; background-color: #ffffff;">
                                                    <h3
                                                        style="color: #4169af; font-size: 23px; font-family: 'opensans_bold';">
                                                        Comunidades
                                                    </h3>
                                                    <p style="margin: 0;">
                                                        <b style="font-size: 14px; font-family: 'opensans_semibold'; color: #757575;">
                                                            Fecha de inicio:
                                                        </b> <label style="font-size: 14px; font-family: 'opensans_regular'; color: #757575;">
                                                            02/03/22</label>
                                                    </p>
                                                    <p style="margin: 0;">
                                                        <b style="font-size: 14px; font-family: 'opensans_semibold'; color: #757575;">
                                                            Fecha de cierre:
                                                        </b> <label style="font-size: 14px; font-family: 'opensans_regular'; color: #757575;">
                                                            02/04/22</label>
                                                    </p>
                                                    <p style="margin: 0;">
                                                        <b style="font-size: 14px; font-family: 'opensans_semibold'; color: #757575;">
                                                            Oferta de venta:
                                                        </b> <label style="font-size: 14px; font-family: 'opensans_regular'; color: #757575;">
                                                            Revisiones SAS</label>
                                                    </p>
                                                </div>
                                            </td>
                                            <td align="center"
                                                style="background-color: #ffffff;font-size:0px;padding-top:5px;padding-bottom:5px;padding-right:5px;padding-left:5px;word-break:break-word;border-collapse:collapse;border: none;">
                                                <div
                                                    style="padding: 16px; border-color: #b5b5b5; background-color: #ffffff;">
                                                    <div style="text-align: center;">
                                                        <a href="https://" target="_blank" type="button"
                                                            style="text-decoration:none;font-weight: 'Semi Bold'; font-family: 'Open Sans'; margin: 20px auto; border: none; padding: 10px 44px; position: relative; border-radius: 40px; color: #FFFFFF; font-size: 14px;">
                                                            <img src="./boton-ver-mas.png" width="130px"
                                                                height="40px">
                                                        </a>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- end card -->

        <!-- Procesos adicionales -->
        <div style="margin-top:0px;margin-bottom:0px;margin-right:auto;margin-left:auto;max-width:900px">
            <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation"
                style="width:100%;border-collapse:collapse">
                <tbody>
                    <tr>
                        <td
                            style="direction:ltr;font-size:0px;padding-top:0px;padding-bottom:0px;padding-right:0px;padding-left:0px;text-align:center;border-collapse:collapse">
                            <div
                                style="padding-bottom: 5px; left: 0; bottom: 0; width: 100%;  background: #3366ff; color: white; text-align: center;">
                                <p
                                    style="margin: 0; font-family: 'opensans_bold'; color: #ffffff; font-size: 17px; padding-top: 10px;">
                                    Ingresa al sitio web de Compra Lo Nuestro,</p>
                                <p
                                    style="margin: 0; font-family: 'opensans_bold'; color: #ffffff; font-size: 17px">
                                    para obtener más información</p>
                                <a style="text-decoration:none; margin: 0; font-family: 'Open Sans'; font-style: italic; text-decoration: underline; color: #ffffff; font-size: 17px" href="https://compralonuestro.co/communities" target="_blank">
                                    Ver más
                                    <img src="./mano2.png" width="50px" height="50px"
                                        style="padding-top: 12px">
                                </a>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- end procesos adicionales -->

        <!-- Te invitamos -->
        <div
            style="border-bottom: 1px solid #333; margin-top:0px; margin-bottom:0px; margin-right:auto;margin-left:auto;max-width:900px">
            <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation"
                style="width:100%;border-collapse:collapse">
                <tbody>
                    <tr>
                        <td
                            style="background-color: #ffffff;direction:ltr;font-size:0px;padding-top:0px;padding-bottom:0px;padding-right:0px;padding-left:0px;text-align:center;border-collapse:collapse">
                            <div
                                style="padding-top: 25px; padding-bottom: 25px; left: 0; bottom: 0; width: 100%; background-color: #ffffff; color: white; text-align: center;">
                                <p
                                    style="font-family: 'Open Sans'; font-weight: bold; color: #000000; font-size: 17px;">
                                    Te invitamos a que no pierdas estas oportunidades.</p>
                                <p
                                    style="font-family: 'Open Sans'; font-weight: bold; color: #000000; font-size: 17px; margin-bottom: 0;">
                                    Equipo Compra Lo Nuestro.</p>
                            </div>
                            <div>
                                <p
                                    style="font-size: 14px; font-family: 'opensans_semibold'; color: #757575; margin-bottom: 0;">
                                    Por favor, NO responder este mensaje, es un envío informativo y automático.
                                </p>
                                <p
                                    style="font-size: 14px; font-family: 'opensans_semibold'; color: #757575; margin-bottom: 0.5rem;">
                                    Si no deseas recibir estos correos, inicia sesión en el sitio <a href="https://compralonuestro.co/" target="_blank">aquí</a> y
                                    desmarca el envío de notificaciones a través de la
                                    opción: Gestionar mis intereses en compras públicas.
                                </p>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- Te invitamos -->

        <!-- footer image -->
        <div
            style="background-color:#6633cc;background-image:none;background-repeat:repeat;background-position:top left;margin-top:0px;margin-bottom:0px;margin-right:auto;margin-left:auto;max-width:900px">
            <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation"
                style="background-color:#6633cc;background-image:none;background-repeat:repeat;background-position:top left;width:100%;border-collapse:collapse">
                <tbody>
                    <tr>
                        <td
                            style="background-color: #ffffff;direction:ltr;font-size:0px;padding-top:20px;padding-bottom:20px;padding-right:0;padding-left:0;text-align:center;border-collapse:collapse">
                            <img style="padding-right: 40px; width: 90%; height: 90%;"
                                src="./logomincomercio.png">
                        </td>
                        <td
                            style="background-color: #ffffff;direction:ltr;font-size:0px;padding-top:20px;padding-bottom:20px;padding-right:0;padding-left:0;text-align:center;border-collapse:collapse">
                            <img style="padding-right: 40px; width: 90%; height: 90%;"
                                src="./logocolombiaproductiva.png">
                        </td>
                        <td
                            style="background-color: #ffffff;direction:ltr;font-size:0px;padding-top:20px;padding-bottom:20px;padding-right:0;padding-left:0;text-align:center;border-collapse:collapse">
                            <img style="padding-right: 40px; width: 90%; height: 90%;"
                                src="./compralonuestro.png">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- end footer image -->

        <!-- links -->
        <div style="margin-top:0px;margin-bottom:0px;margin-right:auto;margin-left:auto;max-width:900px">
            <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation"
                style="width:100%;border-collapse:collapse">
                <tbody>
                    <tr>
                        <td
                            style="background-color: #ffffff;direction:ltr;font-size:0px;padding-top:0px;padding-bottom:0px;padding-right:0px;padding-left:0px;text-align:center;border-collapse:collapse">
                            <label style="padding-left:10px; font-family: 'Open Sans'; font-weight: regular; font-size: 14px;">
                                <a href="https://www.instagram.com/compralonuestrocol/" target="_blank" style="text-decoration:none; color: #757575; display: flex; align-items: center; justify-content: center;">
                                    <img style="width: 24px; height: 24px; padding-right: 5px;" src="./instagram.png">
                                    @CompraLoNuestroCol
                                </a>
                            </label>
                        </td>
                        <td
                            style="background-color: #ffffff;direction:ltr;font-size:0px;padding-top:0px;padding-bottom:0px;padding-right:0px;padding-left:0px;text-align:center;border-collapse:collapse">
                            <label style="font-family: 'Open Sans'; font-weight: regular; font-size: 14px;">
                                <a href="https://www.compralonuestro.co" target="_blank" style="text-decoration:none; color: #757575; display: flex; align-items: center; justify-content: center;">
                                    <img style="width: 24px; height: 24px; padding-right: 5px;" src="./enlace.png">
                                    www.compralonuestro.co
                                </a>
                            </label>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- end links -->

        <!-- derechos -->
        <div style="margin-top:0px;margin-bottom:0px;margin-right:auto;margin-left:auto;max-width:900px;">
            <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation"
                style="width:100%;border-collapse:collapse">
                <tbody>
                    <tr>
                        <td
                            style=" background-color: #ffffff; direction:ltr;padding-top:0px;padding-bottom:0px;padding-right:0px;padding-left:0px;text-align:center;border-collapse:collapse">
                            <div
                                style="margin-top:10px;margin-bottom:10px;left: 0; bottom: 0; width: 100%; background-color: #ffffff; color: #757575; text-align: center;">
                                <p style="margin: 0; font-family: 'Open Sans'; font-style: italic;">© 2022, Todos los derechos reservados.
                                </p>
                                <p style="margin: 0; font-family: 'Open Sans';">Colombia Productiva.</p>
                                <p style="margin: 0; font-family: 'Open Sans';">Calle 28 # 13a-15 piso 21 · Bogotá:
                                    (+571) 7491 000 · Colombia</p>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- end derechos -->
    </div>
</div>