@import "../../../_shared/styles/variables.scss";

$color_border: #000; // rgba(0, 0, 0, 0.3);

.content {
  position: relative;
}
.banner-citas{
  margin-bottom: -8%;
  position: initial;
}

.configuracion {
  // position: absolute;
  // left: 10%;
  // top: 80%;
  width: 80%;
  background-color: rgb(255 255 255);
  box-shadow: 2px 2px 5px #999;
  padding: 2rem 4rem;
  // padding-bottom: 25px;
}

.editor-top {
  // padding-bottom: 40px !important;
  padding-top: 40px !important;
  text-align: center;
  img {
    cursor: pointer;
    margin-right: 10px;
    margin-top: -10px;
    width: 22px;
  }
  .bienvenido {
    color: #4169af;
    font-size: 18px;
    font-weight: 800;
  }
  .info-editor {
    width: 70%;
    text-align: justify;
    padding: 4px 12px;
    margin-left: 15%;
    & p {
      background-color: #f1f1f1;
      border-left: 5px solid #3366ff;
      margin: 0;
    }
    .info-close {
      text-align: right;
      padding-bottom: 10px;

      & span {
        background-color: #f1f1f1;
        color: #7d7d7d;
        padding: 1px 3px;
        border-radius: 4px;
        cursor: pointer;
        font-weight: bold;
        font-size: 12px;
      }
      & span:hover {
        background-color: #a09e9e;
      }
    }
  }
}

.title {
  color: #4169af;
  display: flex;
  font-family: "opensans_bold";
  font-size: 19px;
  justify-content: center;
}

.subtitle {
  color: #333333;
  font-family: "opensans_semibold";
  font-size: 16px;
}

.descripcion {
  color: #333333;
  // color: #757575;
  font-family: "opensans_regular";
  font-size: 15px;
  margin-left: 5px;
  margin-bottom: 5px;
}

.input-contenedor {
  margin-top: 1em;
  & div {
    display: flex;
  }
  .input {
    border: 0px;
    background-color: #ececec;
    font-family: "opensans_italic", Arial;
    height: 30px;
    width: 100%;
  }
  label {
    color: #333333;
    font-family: "opensans_semibold";
    font-size: 16px;
  }
  img {
    position: absolute;
    right: -30px;
    width: 30px;
  }
}

.herramientas-contenedor {
  margin-top: 1em;
  label {
    color: #333333;
    font-family: "opensans_semibold";
    font-size: 16px;
  }
  & div {
    background-color: #ececec;
    & .herramientas {
      display: flex;
      // justify-content: center;
      .input {
        border: 0px;
        font-family: "opensans_italic", Arial;
        height: 5rem;
        width: 33%;
        display: flex;
        align-items: center;
        a {
          display: contents;
          .iconoHerramienta {
            max-height: 2.5rem;
            max-width: 90%;
          }
        }
        .iconoHerramientaAyuda {
          width: 18px;
          height: 18px;
          margin-left: 5px;
        }
      }
    }
    & .herramientas-ayuda-contenedor {
      display: flex;
      margin: 12px;
      p {
        // padding: 12px;
        color: #757575;
      }
    }
  }
}

.center-content {
  align-content: center;
  display: flex;
  justify-content: center;
  // align-items: center;
}

.right-content {
  display: flex;
  align-content: flex-end;
  justify-content: flex-end;
  align-items: flex-end;
}

.modal-confirmado {
  padding: 2rem;
  & .div-principal {
    margin-top: 1rem;
    span {
      justify-content: center;
    }
    .text-titulo {
      font-size: 20px;
      font-family: opensans_bold;
    }
    .text-regular {
      font-size: 16px;
      font-family: opensans_semibold;
    }
    .text-negrita {
      font-size: 16px;
      font-family: opensans_bold;
    }
  }
}
