<div class="banner_2 col-12">
  <div class="row">
    <div class="col-lg-5" style="margin-bottom: 40px;">
      <div class="divtitle font_title">
        <!-- <span class="title_decorator"></span> -->
        <span class="icon escuela_icon mx-auto"></span>
        <h2 class="mb-0">Escuela Virtual de Secretarías</h2>
        <span class="content_decorator2_horizontal ml-142px"></span>
        <br>
        <br>
      </div>

    </div>
  </div>

  <div class="divInfoescuelas">
    <div class="div_borderdashed">
      <div class="div_infoescuelastext font_p">
        <p class="texto_escuela_secretarias">
          <span>La <b class="font_worksans_semibold">Escuela Virtual de Secretarías </b></span>
          <span>es una oportunidad para fortalecer</span>
          <span>las capacidades de gestionar</span>
          <span>integralmente la educación.</span>
        </p>

        <!--   <span class="content_decorator"></span> -->
      </div>
      <!--       <div class="div_borderdashed2 ">

      </div> -->
    </div>

    <div class="videoEscuelas">
      <iframe class="videoEscuelas ml-25px" [src]="video" frameborder="0"
        allowfullscreen></iframe>
    </div>
  </div>
</div>
<div class="banner_2_arrow col-12">

</div>