<footer id="footer" style="position: relative;">
    <div id="footer-img-left">
        <div><span>Un programa de </span></div>
        <div class="footer-img-contenedor-left">
            <div>
                <a href="https://www.mincit.gov.co/" target="_blank">
                    <img id="minicomercio" src="assets/imgs/footer/logo-minicomercio.svg" alt="">
                </a>
            </div>
            <div>
                <a href="https://www.colombiaproductiva.com/" target="_blank">
                    <img src="assets/imgs/footer/logo-ptp.png" alt="">
                </a>
            </div>
        </div>
    </div>
    <div id="footer-img-center">
        <div><span>En colaboración con</span></div>
        <div class="footer-img-contenedor-center">
            <div>
                <a href="https://connectamericas.com/" target="_blank">
                    <img src="assets/imgs/footer/footer-connect-logo.svg" alt="">
                </a>
            </div>
            <div>
                <a href="https://innpulsacolombia.com/" target="_blank">
                    <img src="assets/imgs/footer/logo-innpulsa.png" alt="">
                </a>
            </div>
            <div>
                <a href="https://procolombia.co/" target="_blank">
                    <img id="procolombia" src="assets/imgs/footer/logo-procolombia.png" alt="">
                </a>
            </div>
            <div>
                <a href="https://www.bancoldex.com/" target="_blank">
                    <img id="bancoldex" src="assets/imgs/footer/bancoldex.png" alt="">
                </a>
            </div>
            <div>
                <a href="https://artesaniasdecolombia.com.co/" target="_blank">
                    <img id="adc" src="assets/imgs/footer/logo-adc.png" alt="">
                </a>
            </div>
        </div>
    </div>
    <div>
        <div><span>&nbsp;</span></div>
        <div id="footer-right-bottom">
            <div><span>Síguenos</span></div>
            <div>
                <a href="https://www.facebook.com/ColombiaProductiva/" target="_blank">
                    <img src="assets/imgs/footer/facebook.svg" alt="">
                </a>
            </div>
            <div>
                <a href="https://www.flickr.com/photos/fotosptp/albums" target="_blank">
                    <img src="assets/imgs/footer/flick.svg" alt="">
                </a>
            </div>
            <div>
                <a href="https://twitter.com/Col_productiva" target="_blank">
                    <img id="twiter" src="assets/imgs/footer/twiter.svg" alt="">
                </a>
            </div>
            <div>
                <a href="https://www.youtube.com/c/ColombiaProductiva" target="_blank">
                    <img id="youtube" src="assets/imgs/footer/youtube.svg" alt="">
                </a>
            </div>

        </div>
    </div>
</footer>
