.content {
    margin-top: 25px;
    margin-bottom: 25px;
    text-align: center;
}

.title {
    color: #4169af;
    font-size: 20px;
    font-weight: 800;
    margin-top: 10px;
}

.parrafo {
    font-size: 12px;
    margin-top: 10px;
    margin-right: 20%;
    margin-left: 20%;
    text-align: justify;
}