<div class="sLogistico--video">
    <div class="video-16-9">
        <iframe src="https://www.youtube-nocookie.com/embed/6aIZ_GW514E" title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
    </div>
</div>

<h2 class="sLogistico--h2">¿CÓMO CREAR MI CADENA DE ABASTECIMIENTO?</h2>

<p class="sLogistico--paragraph">
    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
    nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat
    volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation
    ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
    Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse
    molestie consequat, vel illum dolore eu feugiat nulla facilisis at
    vero eros et accumsan et iusto odio dignissim qui blandit praesent
    luptatum zzril delenit
</p>