.btn-submit-wine {
    background-color: #839AC4;
    width: 100%;
    color: #ffffff;
    cursor: pointer;
    border-radius: 6mm;
    border-style: none;
    height: 40px;
    margin-top: 0em !important;
    font-size: 12px;
    margin-bottom: 1em;
}