$color-blanco: rgba(255, 255, 255, 1);
$color-gris: #6d6e71;
$color-blue: #003595;
$color-blue-light: #6699ff;
$color-red: #f42f63;
$color-red-oscuro: #d6184b;
$color-gray-font: rgba(0, 0, 0, 0.7);
$line-height-paragraph: 18px;
$font-size-paragraph: 16px;

$font-family-light: workSans_ligth;
$font-family-medium: worksans_medium;
$font-family-bold: workSans_bold;
$font-family-extra-bold: worksans_extrabold;
$font-family-semi-bold: worksans_semibold;


$font-family-bitter-bold: bitter_bold;
$font-family-bitter-medium: bitter_medium;
$font-family-bitter-regular: bitter_regular;

$font-family-firasans-bold: firasans_bold;
$font-family-firasans-light: firasans_light;
$font-family-firasans-regular: firasans_regular;

$font-family-opensans-bold: opensans_bold;
$font-family-opensans-light: opensans_light;
$font-family-opensans-medium: opensans_medium;
$font-family-opensans-regular: opensans_regular;
