@import "../../../../_shared/styles/variables.scss";

.containerTemplateSix {
    padding: 0px 0px 10px 0px;
    min-height: 500px;
    max-width: 2880px;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: 100% !important;
}
.contentTitle {
    min-height: 35px !important;
    padding: 0px 0px 0px 0px !important;
}
.contentTitle p {
    width: 100% !important;
    min-height: 35px !important;
    padding: 0px 0px 0px 0px !important;
    margin: 0px 0px 0px 0px !important;
}
.contentParagraph {
    width: 300px;
    max-width: 300px;
    min-width: 300px;
    min-height: 40px !important;
    max-height: 100px !important;
    padding: 0px 0px 0px 0px !important;
    overflow: hidden;
    overflow-y: auto;
}
.contentParagraphDad {
    width: 300px;
    max-width: 300px;
    min-width: 300px;
    min-height: 40px !important;
    max-height: 100px !important;
}
.text-reference {
    width: 100%;
    min-height: 30px !important;
    max-height: 90px !important;
    overflow: hidden;
    overflow-y: auto;
}
.imageSectionDos {
    width: 300px;
    max-width: 300px;
    min-width: 300px;
    height: 230px !important;
}
.referencia {
    width: 300px;
    max-width: 300px;
    min-width: 300px;
}
.title {
    width: 100%;
    min-height: 30px;
    margin: 0px;
    padding: 0px;
}

.title p {
    margin: 0px;
    padding: 0px;
}
.loadingMedia {
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 400px;
    position: absolute;
    top: 0px;
    left: 0px;
}
.cursorPointer {
    cursor: pointer;
}
.imageContainer {
    position: relative;
    width: 100%;
    height: 230px !important;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.imageContainer .image {
    width: 100% !important;
    height: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navigation-point {
    position: absolute;
    bottom: 35px;
}
.point {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    margin-right: 10px;
}
.point:last-child {
    margin-right: 0px;
}
.navigation-active {
    background-color: $color-blue;
}
.navigation-inactive {
    background-color: $color-gris;
}
h3,
p {
    padding: 0px;
    margin: 0px;
}
.container-dash {
    //border: dashed 1px rgba(0, 0, 0, 0.3);
    background-color: #f1f1f1;
    transition: ease all 0.2s;
    min-height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.container-dash:hover {
    background-color: rgba(0, 0, 0, 0.05);
}
.editorNavigation {
    position: absolute;
    bottom: 3px;
    right: 3px;
}
.editorNavigation .paginator-actions {
    padding: 0px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.editorNavigation .paginator-actions .action-inactive {
    border: none;
    background-color: transparent;
    color: rgba(0, 0, 0, 0.7);
    padding: 0px 10px;
    cursor: default;
}
.editorNavigation .paginator-actions .action-active {
    border: none;
    background-color: $color-blue-light;
    color: #fff;
    padding: 0px 10px;
    border-radius: 25px;
    cursor: pointer;
}
.editorNavigation .paginator-actions .pages {
    padding: 0px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.editorNavigation .paginator-actions .pages button {
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    padding: 1px 1px 0px 0px;
    font-size: 12px;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    margin-right: 5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.editorNavigation .paginator-actions .pages button:last-child {
    margin-right: 0px;
}
.editorNavigation .paginator-actions .pages .page-active {
    background-color: $color-red;
    cursor: default;
}
.editorNavigation .paginator-actions .pages .page-inactive {
    background-color: $color-blue-light;
    cursor: pointer;
}
//Quilleditor
.cuerpo {
    width: 100%;
    max-height: 200px;
    overflow-y: auto;
}
.ql-align-justify {
    text-align: justify !important;
}
.ql-align-center {
    text-align: center !important;
}
.ql-align-right {
    text-align: right !important;
}
.ql-size-small {
    font-size: 0.75em !important;
}
.ql-size-large {
    font-size: 1.5em !important;
}
.ql-size-huge {
    font-size: 2.5em !important;
}
.ql-font-worksans {
    font-family: $font-family-light;
}
.ql-font-worksansmedium {
    font-family: $font-family-medium;
}
.ql-font-worksanssemibold {
    font-family: $font-family-semi-bold;
}
.ql-font-worksansextrabold {
    font-family: $font-family-extra-bold;
}
.ql-font-bitterbold {
    font-family: $font-family-bitter-bold;
}
.ql-font-bittermedium {
    font-family: $font-family-bitter-medium;
}
.ql-font-bitterregular {
    font-family: $font-family-bitter-regular;
}
.ql-font-firesansbold {
    font-family: $font-family-firasans-bold;
}
.ql-font-firesanslight {
    font-family: $font-family-firasans-light;
}
.ql-font-firesansregular {
    font-family: $font-family-firasans-regular;
}
.ql-font-opensansbold {
    font-family: $font-family-opensans-bold;
}
.ql-font-opensansmedium {
    font-family: $font-family-opensans-medium;
}
.ql-font-opensansregular {
    font-family: $font-family-opensans-regular;
}
.ql-font-opensanslight {
    font-family: $font-family-opensans-light;
}