<div class="container containerTemplateSix col-sm-12 d-flex flex-column justify-content-center align-items-center py-2"
    [style.background]="background">
    <div [ngClass]="{'col-sm-12': builder , 'col-sm-10': !builder}"
        class="d-flex flex-column justify-content-center align-items-center p-0"
        style="padding-bottom: 40px !important;">
        <div [ngClass]="{'container-dash':builder}"
            class="col-sm-7 d-flex justify-content-center align-items-center position-relative mb-4 p-0 title contentTitle"
            [ngStyle]="{'z-index':10}">
            <app-action-attribute [configAction]="configTitleEditor"
                [closeActionByOutsideClick]="closeActionByOutsideClick" [index]="indexTemplate + '6001'"
                (text)="setData($event,3,0)" *ngIf="builder" [effectType]="textDataMaster.titleEffect"
                [textData]="textDataMaster" (effect)="setData($event,4,0)">
            </app-action-attribute>
            <h4 class="title contentTitle p-0" [innerHTML]="textDataMaster.title | safeHtml">
            </h4>
            <!-- [ngClass]="{'fade-right':textDataMaster.titleEffect == 'fdr' , 'fade-left':textDataMaster.titleEffect == 'fdl' , 'fade-top':textDataMaster.titleEffect == 'fdt' , 'fade-bottom':textDataMaster.titleEffect == 'fdb' , 'fade-in':textDataMaster.titleEffect == 'fdi'}" -->
        </div>
        <div class="col-sm-12 d-flex justify-content-between align-items-start mt-2 p-0 ">
            <div class="col-sm-4 d-flex flex-column justify-content-center align-items-center p-0"
                style="width: 300px;max-width: 300px;">

                <!-- icono + link -->
                <div [ngClass]="{'container-dash':builder}" class="imageSectionDos position-relative"
                    [ngStyle]="{'z-index':9}">
                    <app-action-attribute [closeActionByOutsideClick]="closeActionByOutsideClick"
                        [configAction]="configMediaEditor" [index]="indexTemplate + '6010'"
                        (fileReturn)="setData($event,1,1)" [effectType]="textDataMaster.mediaEffect"
                        (effect)="setData($event,6,1)" [textData]="textDataMaster" (vinculo)="setData($event,7,1)"
                        *ngIf="builder">
                    </app-action-attribute>
                    <p class="p-2" *ngIf="(!textDataMaster.mediaUrl || !viewImage) && builder">
                        Inserte una imagen tamaño del icono 350 px X 230 px</p>
                    <a class="imageContainer cursorPointer" *ngIf="textDataMaster.mediaUrl && viewImage"
                        (click)="hreFunction(textDataMaster.enlace)" target="_blank"
                        [ngClass]="{'fade-right':textDataMaster.mediaEffect == 'fdr' , 'fade-left':textDataMaster.mediaEffect == 'fdl' , 'fade-top':textDataMaster.mediaEffect == 'fdt' , 'fade-bottom':textDataMaster.mediaEffect == 'fdb' , 'fade-in':textDataMaster.mediaEffect == 'fdi'}">
                        <img [src]="sanitizeImageUrl(textDataMaster.mediaUrl)" class="image" />
                        <div class="loadingMedia p-2 d-flex justify-content-center align-items-center"
                            *ngIf="textDataMaster.uploadStatus == 'uploading'">
                            <span class="text-light text-align">Estamos cargando tu imagen</span>
                        </div>
                    </a>
                </div>

                <!-- texto -->
                <!-- <div [ngClass]="{'container-dash':builder}"
                    class="referencia position-relative mt-2 contentParagraphDad" [ngStyle]="{'z-index':6}">
                    <app-action-attribute [configAction]="configTextEditorMedium"
                        [closeActionByOutsideClick]="closeActionByOutsideClick" [index]="indexTemplate + '6011'"
                        (text)="setData($event,2,4)" [effectType]="textDataMasterOneMedium.textEffect"
                        [textData]="textDataMasterOneMedium" (effect)="setData($event,5,4)" *ngIf="builder">
                    </app-action-attribute>
                    <span class="p-2 contentParagraph" [innerHTML]="textDataMasterOneMedium.text | safeHtml"
                        [ngClass]="{'fade-right':textDataMasterOneMedium.textEffect == 'fdr' , 
                            'fade-left':textDataMasterOneMedium.textEffect == 'fdl' , 
                            'fade-top':textDataMasterOneMedium.textEffect == 'fdt' , 
                            'fade-bottom':textDataMasterOneMedium.textEffect == 'fdb' , 
                            'fade-in':textDataMasterOneMedium.textEffect == 'fdi'}"
                    >
                    </span>
                </div> -->

                <!-- imagen -->
                <!-- <div [ngClass]="{'container-dash':builder}" class="imageSectionDos position-relative"
                    [ngStyle]="{'z-index':6}">
                    <app-action-attribute [closeActionByOutsideClick]="closeActionByOutsideClick"
                        [configAction]="configMediaEditor" [index]="indexTemplate + '6010'"
                        (fileReturn)="setData($event,1,1)" [effectType]="textDataMaster.mediaEffect "
                        (effect)="setData($event,6,1)" *ngIf="builder">
                    </app-action-attribute>
                    <p class="p-2" *ngIf="!textDataMaster.mediaUrl || !viewImage">
                        Inserte una imagen tamaño del icono 350 px X 230 px</p>
                    <div class="imageContainer" *ngIf="textDataMaster.mediaUrl && viewImage"
                        [ngClass]="{'fade-right':textDataMaster.mediaEffect == 'fdr', 'fade-left':textDataMaster.mediaEffect == 'fdl' , 'fade-top':textDataMaster.mediaEffect == 'fdt' , 'fade-bottom':textDataMaster.mediaEffect == 'fdb' , 'fade-in':textDataMaster.mediaEffect == 'fdi'}">
                        <img [src]="sanitizeImageUrl(textDataMaster.mediaUrl)" class="image" />
                        <div class="loadingMedia p-2 d-flex justify-content-center align-items-center"
                            *ngIf="textDataMaster.uploadStatus == 'uploading'">
                            <p class="text-light text-align">Estamos cargando tu imagen</p>
                        </div>
                    </div>
                </div> -->

                <!-- texto referencia -->
                <div [ngClass]="{'container-dash':builder}"
                    class="referencia position-relative mt-2 contentParagraphDad" [ngStyle]="{'z-index':8}">
                    <app-action-attribute [configAction]="configTextEditorMedium"
                        [closeActionByOutsideClick]="closeActionByOutsideClick" [index]="indexTemplate + '6012'"
                        (text)="setData($event,2,1)" [effectType]="textDataMaster.textEffect"
                        [textData]="textDataMaster" (effect)="setData($event,5,1)" *ngIf="builder">
                    </app-action-attribute>
                    <span class="p-2 contentParagraph" [innerHTML]="textDataMaster.text | safeHtml"
                        [ngClass]="{'fade-right':textDataMaster.textEffect == 'fdr' , 'fade-left':textDataMaster.textEffect == 'fdl' , 'fade-top':textDataMaster.textEffect == 'fdt' , 'fade-bottom':textDataMaster.textEffect == 'fdb' , 'fade-in':textDataMaster.textEffect == 'fdi'}">
                    </span>
                </div>

                <!-- ver mas boton -->
                <div [ngClass]="{'container-dash':builder}" [ngStyle]="{'z-index':7}"
                    class="col-sm-12 p-0 d-flex justify-content-center align-items-center position-relative mt-4 container_link"
                    style="width: 300px;">
                    <div class="col-sm-12 p-0 d-flex justify-content-center align-items-center position-relative linkContent"
                        style="width: 300px;" (mouseover)="fourSection=true" (mouseout)="fourSection=false"
                        [ngClass]="{'fade-right':textDataMaster.enlaceEffect == 'fdr' , 'fade-left':textDataMaster.enlaceEffect == 'fdl' , 'fade-top':textDataMaster.enlaceEffect == 'fdt' , 'fade-bottom':textDataMaster.enlaceEffect == 'fdb' , 'fade-in':textDataMaster.enlaceEffect == 'fdi'}">
                        <button 
                             *ngIf="textDataMaster.enlace != ''" 
                            (click)="hreFunction(textDataMaster.enlace)" class="text-left linkButton">Ver más
                        </button>
                    </div>
                </div>

                <!-- <div [ngClass]="{'container-dashFour':builder}" [ngStyle]="{'z-index':4}"
                    class="col-sm-12 p-0 d-flex justify-content-center align-items-center position-relative mt-4 container_link">
                    <app-action-attribute [closeActionByOutsideClick]="closeActionByOutsideClick"
                        [configAction]="configLinkEditor" [index]="indexTemplate + '6013'"
                        (vinculo)="setData($event,4,1)" (text)="setData($event,3,1)" [textData]="textDataMaster"
                        [effectType]="textDataMaster.enlaceEffect" (effect)="setData($event,11,1)"
                        (text_roll)="setData($event,13,1)" (linkType)="setData($event,12,1)" *ngIf="builder">
                    </app-action-attribute>
                    <!-- (isTextEditor)="updateIndex($event,3,1)" -- >
                    <div class="col-sm-12 p-0 d-flex justify-content-center align-items-center position-relative linkContent"
                        (mouseover)="fourSection=true" (mouseout)="fourSection=false"
                        [ngClass]="{'fade-right':textDataMaster.enlaceEffect == 'fdr' , 'fade-left':textDataMaster.enlaceEffect == 'fdl' , 'fade-top':textDataMaster.enlaceEffect == 'fdt' , 'fade-bottom':textDataMaster.enlaceEffect == 'fdb' , 'fade-in':textDataMaster.enlaceEffect == 'fdi'}">
                        <a *ngIf="textDataMaster.typelink == 'link'" (click)="hreFunction(textDataMaster.link)"
                            target="_blank" class="text-left linkVinculo"
                            [innerHTML]="textDataMaster.enlace | safeHtml">
                        </a>
                        <button *ngIf="textDataMaster.typelink == 'btn'" (click)="hreFunction(textDataMaster.link)"
                            class="text-left linkButton" [innerHTML]="textDataMaster.enlace | safeHtml">
                        </button>
                        <span class="tooltipAct" *ngIf="fourSection && textDataMaster.text_roll"
                            [innerHTML]="textDataMaster.text_roll | safeHtml"></span>
                    </div>
                </div> -->

                <!-- <div [ngClass]="{'container-dash':builder}" [ngStyle]="{'z-index':indexAction[3]}"
                    class="col-sm-12 p-0 d-flex justify-content-center align-items-center position-relative mt-4 container_link">
                    <app-action-attribute 
                        [closeActionByOutsideClick]="closeActionByOutsideClick"
                        [configAction]="configLinkEditor" [index]="indexTemplate + '6013'"
                        (vinculo)="setData($event,24,1)" (text)="setData($event,23,1)" [textData]="textDataMaster"
                        [effectType]="textDataMaster.enlaceEffect" (effect)="setData($event,11,1)"
                        (text_roll)="setData($event,13,1)" (linkType)="setData($event,12,1)" *ngIf="builder"
                        (isTextEditor)="updateIndex($event,3)"
                        >
                    </app-action-attribute>
                    <div class="col-sm-12 p-0 d-flex justify-content-center align-items-center position-relative linkContent"
                        (mouseover)="fourSection=true" (mouseout)="fourSection=false"
                        [ngClass]="{'fade-right':textDataMaster.enlaceEffect == 'fdr' , 'fade-left':textDataMaster.enlaceEffect == 'fdl' , 'fade-top':textDataMaster.enlaceEffect == 'fdt' , 'fade-bottom':textDataMaster.enlaceEffect == 'fdb' , 'fade-in':textDataMaster.enlaceEffect == 'fdi'}"
                        > 
                        <a *ngIf="textDataMaster.typelink == 'link'" (click)="hreFunction(textDataMaster.link)"
                            target="_blank" class="text-left linkVinculo"
                            [innerHTML]="textDataMaster.enlace | safeHtml">
                        </a>
                        <button *ngIf="textDataMaster.typelink == 'btn'" (click)="hreFunction(textDataMaster.link)"
                            class="text-left linkButton" [innerHTML]="textDataMaster.enlace | safeHtml">
                        </button>
                        <span class="tooltipAct" *ngIf="fourSection && textDataMaster.text_roll"
                            [innerHTML]="textDataMaster.text_roll | safeHtml"></span>
                    </div>
                </div> -->

                <!-- <span [ngClass]="{'container-dash':builder}" [ngStyle]="{'z-index':indexAction[4]}"
                    class="col-sm-12 p-0 d-flex justify-content-center align-items-center position-relative mt-4 container_link">
                    <app-action-attribute [closeActionByOutsideClick]="closeActionByOutsideClick" [configAction]="configLinkEditor"
                        [index]="indexTemplate + '6013'" (vinculo)="setData($event,104)" (text)="setData($event,103)"
                        [textData]="textDataMasterButton" [effectType]="textDataMasterButton.enlaceEffect" (effect)="setData($event,111)"
                        (text_roll)="setData($event,113)" (linkType)="setData($event,112)" (isTextEditor)="updateIndex($event,3)"
                        *ngIf="builder">
                    </app-action-attribute>
                    <div class="col-sm-12 p-0 d-flex justify-content-center align-items-center position-relative linkContent"
                        (mouseover)="fourSection=true" (mouseout)="fourSection=false"
                        [ngClass]="{'fade-right':textDataMasterButton.enlaceEffect == 'fdr' , 'fade-left':textDataMasterButton.enlaceEffect == 'fdl' , 'fade-top':textDataMasterButton.enlaceEffect == 'fdt' , 'fade-bottom':textDataMasterButton.enlaceEffect == 'fdb' , 'fade-in':textDataMasterButton.enlaceEffect == 'fdi'}">
                        <a *ngIf="textDataMasterButton.typelink == 'link'" (click)="hreFunction(textDataMasterButton.link)" target="_blank"
                            class="text-left linkVinculo" [innerHTML]="textDataMasterButton.enlace | safeHtml">
                        </a>
                        <button *ngIf="textDataMasterButton.typelink == 'btn'" (click)="hreFunction(textDataMasterButton.link)"
                            class="text-left linkButton" [innerHTML]="textDataMasterButton.enlace | safeHtml">
                        </button>
                        <span class="tooltipAct" *ngIf="fourSection && textDataMasterButton.text_roll"
                            [innerHTML]="textDataMasterButton.text_roll | safeHtml"></span>
                    </div>
                </span> -->

            </div>

            <!-- 2 -->
            <div class="col-sm-4 d-flex flex-column justify-content-center align-items-center p-0"
                style="width: 300px;max-width: 300px;">

                <!-- texto nuevo -->
                <!-- <div [ngClass]="{'container-dash':builder}"
                    class="referencia position-relative mt-2 contentParagraphDad" [ngStyle]="{'z-index':3}">
                    <app-action-attribute [configAction]="configTextEditorMedium"
                        [closeActionByOutsideClick]="closeActionByOutsideClick" [index]="indexTemplate + '6021'"
                        (text)="setData($event,2,5)" [effectType]="textDataMasterTwoMedium.textEffect"
                        (effect)="setData($event,5,5)" [textData]="textDataMasterTwoMedium" *ngIf="builder">
                    </app-action-attribute>
                    <span class="p-2 contentParagraph" [innerHTML]="textDataMasterTwoMedium.text | safeHtml" [ngClass]="{'fade-right':textDataMasterTwoMedium.textEffect == 'fdr' , 
                            'fade-left':textDataMasterTwoMedium.textEffect == 'fdl' , 
                            'fade-top':textDataMasterTwoMedium.textEffect == 'fdt' , 
                            'fade-bottom':textDataMasterTwoMedium.textEffect == 'fdb' , 
                            'fade-in':textDataMasterTwoMedium.textEffect == 'fdi'}">
                    </span>
                </div> -->
                <!-- <div [ngClass]="{'container-dash':builder}" class="imageSectionDos position-relative"
                    [ngStyle]="{'z-index':6}">
                    <app-action-attribute [closeActionByOutsideClick]="closeActionByOutsideClick"
                        [configAction]="configMediaEditor" [index]="indexTemplate + '6021'"
                        (fileReturn)="setData($event,1,1)" [effectType]="textDataMasterTwo.mediaEffect "
                        (effect)="setData($event,6,1)" *ngIf="builder">
                    </app-action-attribute>
                    <p class="p-2" *ngIf="!textDataMasterTwo.mediaUrl || !viewImage">
                        Inserte una imagen tamaño del icono 350 px X 230 px</p>
                    <div class="imageContainer" *ngIf="textDataMasterTwo.mediaUrl && viewImage"
                        [ngClass]="{'fade-right':textDataMasterTwo.mediaEffect == 'fdr', 'fade-left':textDataMasterTwo.mediaEffect == 'fdl' , 'fade-top':textDataMasterTwo.mediaEffect == 'fdt' , 'fade-bottom':textDataMasterTwo.mediaEffect == 'fdb' , 'fade-in':textDataMasterTwo.mediaEffect == 'fdi'}">
                        <img [src]="sanitizeImageUrl(textDataMasterTwo.mediaUrl)" class="image" />
                        <div class="loadingMedia p-2 d-flex justify-content-center align-items-center"
                            *ngIf="textDataMasterTwo.uploadStatus == 'uploading'">
                            <p class="text-light text-align">Estamos cargando tu imagen</p>
                        </div>
                    </div>
                </div> -->

                <!-- icono + link -->
                <div [ngClass]="{'container-dash':builder}" class="imageSectionDos position-relative" [ngStyle]="{'z-index':6}">
                    <app-action-attribute [closeActionByOutsideClick]="closeActionByOutsideClick" [configAction]="configMediaEditor"
                        [index]="indexTemplate + '6021'" (fileReturn)="setData($event,1,2)" [effectType]="textDataMaster.mediaEffect"
                        (effect)="setData($event,6,2)" [textData]="textDataMasterTwo" (vinculo)="setData($event,7,2)" *ngIf="builder">
                    </app-action-attribute>
                    <p class="p-2" *ngIf="(!textDataMasterTwo.mediaUrl || !viewImage) && builder">
                        Inserte una imagen tamaño del icono 350 px X 230 px</p>
                    <a class="imageContainer cursorPointer" *ngIf="textDataMasterTwo.mediaUrl && viewImage"
                        (click)="hreFunction(textDataMaster.enlace)" target="_blank"
                        [ngClass]="{'fade-right':textDataMasterTwo.mediaEffect == 'fdr' , 'fade-left':textDataMasterTwo.mediaEffect == 'fdl' , 'fade-top':textDataMasterTwo.mediaEffect == 'fdt' , 'fade-bottom':textDataMasterTwo.mediaEffect == 'fdb' , 'fade-in':textDataMasterTwo.mediaEffect == 'fdi'}">
                        <img [src]="sanitizeImageUrl(textDataMaster.mediaUrl)" class="image" />
                        <div class="loadingMedia p-2 d-flex justify-content-center align-items-center"
                            *ngIf="textDataMasterTwo.uploadStatus == 'uploading'">
                            <span class="text-light text-align">Estamos cargando tu imagen</span>
                        </div>
                    </a>
                </div>

                <div [ngClass]="{'container-dash':builder}"
                    class="referencia position-relative mt-2 contentParagraphDad" [ngStyle]="{'z-index':5}">
                    <app-action-attribute [configAction]="configTextEditorMedium"
                        [closeActionByOutsideClick]="closeActionByOutsideClick" [index]="indexTemplate + '6022'"
                        (text)="setData($event,2,2)" [effectType]="textDataMasterTwo.textEffect"
                        (effect)="setData($event,5,2)" [textData]="textDataMasterTwo" *ngIf="builder">
                    </app-action-attribute>
                    <span class="p-2 contentParagraph" [innerHTML]="textDataMasterTwo.text | safeHtml"
                        [ngClass]="{'fade-right':textDataMasterTwo.textEffect == 'fdr' , 'fade-left':textDataMasterTwo.textEffect == 'fdl' , 'fade-top':textDataMasterTwo.textEffect == 'fdt' , 'fade-bottom':textDataMasterTwo.textEffect == 'fdb' , 'fade-in':textDataMasterTwo.textEffect == 'fdi'}">
                    </span>
                </div>

                <!-- ver mas boton -->
                <div [ngClass]="{'container-dash':builder}" [ngStyle]="{'z-index':4}"
                    class="col-sm-12 p-0 d-flex justify-content-center align-items-center position-relative mt-4 container_link"
                    style="width: 300px;">
                    <div class="col-sm-12 p-0 d-flex justify-content-center align-items-center position-relative linkContent"
                        style="width: 300px;" (mouseover)="fourSection=true" (mouseout)="fourSection=false"
                        [ngClass]="{'fade-right':textDataMasterTwo.enlaceEffect == 'fdr' , 'fade-left':textDataMasterTwo.enlaceEffect == 'fdl' , 'fade-top':textDataMasterTwo.enlaceEffect == 'fdt' , 'fade-bottom':textDataMasterTwo.enlaceEffect == 'fdb' , 'fade-in':textDataMasterTwo.enlaceEffect == 'fdi'}">
                        <button 
                            *ngIf="textDataMasterTwo.enlace != ''" 
                            (click)="hreFunction(textDataMasterTwo.enlace)" class="text-left linkButton">Ver más
                        </button>
                    </div>
                </div>
            </div>

            <!-- 3 -->
            <div class="col-sm-4 d-flex flex-column justify-content-center align-items-center p-0"
                style="width: 300px;max-width: 300px;">

                <!-- <div [ngClass]="{'container-dash':builder}"
                    class="referencia position-relative mt-2 contentParagraphDad" [ngStyle]="{'z-index':2}">
                    <app-action-attribute [configAction]="configTextEditorMedium"
                        [closeActionByOutsideClick]="closeActionByOutsideClick" [index]="indexTemplate + '6031'"
                        (text)="setData($event,2,6)" [effectType]="textDataMasterThreeMedium.textEffect"
                        [textData]="textDataMasterThreeMedium" (effect)="setData($event,5,6)" *ngIf="builder">
                    </app-action-attribute>
                    <span class="p-2 contentParagraph" [innerHTML]="textDataMasterThreeMedium.text | safeHtml"
                        [ngClass]="{'fade-right':textDataMasterThreeMedium.textEffect == 'fdr' , 
                            'fade-left':textDataMasterThreeMedium.textEffect == 'fdl' , 
                            'fade-top':textDataMasterThreeMedium.textEffect == 'fdt' , 
                            'fade-bottom':textDataMasterThreeMedium.textEffect == 'fdb' , 
                            'fade-in':textDataMasterThreeMedium.textEffect == 'fdi'}">
                    </span>
                </div> -->

                <!-- <div [ngClass]="{'container-dash':builder}" class="imageSectionDos position-relative"
                    [ngStyle]="{'z-index':3}">
                    <app-action-attribute [closeActionByOutsideClick]="closeActionByOutsideClick"
                        [configAction]="configMediaEditor" [index]="indexTemplate + '6031'"
                        (fileReturn)="setData($event,1,1)" [effectType]="textDataMasterThree.mediaEffect "
                        (effect)="setData($event,6,1)" *ngIf="builder">
                    </app-action-attribute>
                    <p class="p-2" *ngIf="!textDataMasterThree.mediaUrl || !viewImage">
                        Inserte una imagen tamaño del icono 350 px X 230 px</p>
                    <div class="imageContainer" *ngIf="textDataMasterThree.mediaUrl && viewImage"
                        [ngClass]="{'fade-right':textDataMasterThree.mediaEffect == 'fdr', 'fade-left':textDataMasterThree.mediaEffect == 'fdl' , 'fade-top':textDataMasterThree.mediaEffect == 'fdt' , 'fade-bottom':textDataMasterThree.mediaEffect == 'fdb' , 'fade-in':textDataMasterThree.mediaEffect == 'fdi'}">
                        <img [src]="sanitizeImageUrl(textDataMasterThree.mediaUrl)" class="image" />
                        <div class="loadingMedia p-2 d-flex justify-content-center align-items-center"
                            *ngIf="textDataMasterThree.uploadStatus == 'uploading'">
                            <p class="text-light text-align">Estamos cargando tu imagen</p>
                        </div>
                    </div>
                </div> -->

                <!-- icono + link -->
                <div [ngClass]="{'container-dash':builder}" class="imageSectionDos position-relative" [ngStyle]="{'z-index':3}">
                    <app-action-attribute [closeActionByOutsideClick]="closeActionByOutsideClick" [configAction]="configMediaEditor"
                        [index]="indexTemplate + '6033'" (fileReturn)="setData($event,1,3)" [effectType]="textDataMasterThree.mediaEffect"
                        (effect)="setData($event,6,3)" [textData]="textDataMasterThree" (vinculo)="setData($event,7,3)" *ngIf="builder">
                    </app-action-attribute>
                    <p class="p-2" *ngIf="(!textDataMasterThree.mediaUrl || !viewImage) && builder">
                        Inserte una imagen tamaño del icono 350 px X 230 px</p>
                    <a class="imageContainer cursorPointer" *ngIf="textDataMasterThree.mediaUrl && viewImage"
                        (click)="hreFunction(textDataMasterThree.enlace)" target="_blank"
                        [ngClass]="{'fade-right':textDataMasterThree.mediaEffect == 'fdr' , 'fade-left':textDataMasterThree.mediaEffect == 'fdl' , 'fade-top':textDataMasterThree.mediaEffect == 'fdt' , 'fade-bottom':textDataMasterThree.mediaEffect == 'fdb' , 'fade-in':textDataMasterThree.mediaEffect == 'fdi'}">
                        <img [src]="sanitizeImageUrl(textDataMaster.mediaUrl)" class="image" />
                        <div class="loadingMedia p-2 d-flex justify-content-center align-items-center"
                            *ngIf="textDataMasterThree.uploadStatus == 'uploading'">
                            <span class="text-light text-align">Estamos cargando tu imagen</span>
                        </div>
                    </a>
                </div>

                <div [ngClass]="{'container-dash':builder}"
                    class="referencia position-relative mt-2 contentParagraphDad" [ngStyle]="{'z-index':2}">
                    <app-action-attribute [configAction]="configTextEditorMedium"
                        [closeActionByOutsideClick]="closeActionByOutsideClick" [index]="indexTemplate + '6032'"
                        (text)="setData($event,2,3)" [effectType]="textDataMasterThree.textEffect"
                        (effect)="setData($event,5,3)" [textData]="textDataMasterThree" *ngIf="builder">
                    </app-action-attribute>
                    <span class="p-2 contentParagraph" #cuerpoScroll [innerHTML]="textDataMasterThree.text | safeHtml"
                        [ngClass]="{'fade-right':textDataMasterThree.textEffect == 'fdr' , 'fade-left':textDataMasterThree.textEffect == 'fdl' , 'fade-top':textDataMasterThree.textEffect == 'fdt' , 'fade-bottom':textDataMasterThree.textEffect == 'fdb' , 'fade-in':textDataMasterThree.textEffect == 'fdi'}">
                    </span>
                </div>

                <!-- ver mas boton -->
                <div [ngClass]="{'container-dash':builder}" [ngStyle]="{'z-index':1}"
                    class="col-sm-12 p-0 d-flex justify-content-center align-items-center position-relative mt-4 container_link"
                    style="width: 300px;">
                    <div class="col-sm-12 p-0 d-flex justify-content-center align-items-center position-relative linkContent"
                        style="width: 300px;" (mouseover)="fourSection=true" (mouseout)="fourSection=false"
                        [ngClass]="{'fade-right':textDataMasterThree.enlaceEffect == 'fdr' , 'fade-left':textDataMasterThree.enlaceEffect == 'fdl' , 'fade-top':textDataMasterThree.enlaceEffect == 'fdt' , 'fade-bottom':textDataMasterThree.enlaceEffect == 'fdb' , 'fade-in':textDataMasterThree.enlaceEffect == 'fdi'}">
                        <button 
                            *ngIf="textDataMasterThree.enlace != ''" 
                            (click)="hreFunction(textDataMasterThree.enlace)" class="text-left linkButton">Ver más
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div [ngClass]="{'col-sm-12': builder , 'col-sm-10': !builder}"
            class="d-flex flex-column justify-content-center align-items-center p-0"
            style="padding-bottom: 40px !important;">

            <div [ngClass]="{'container-dash':builder}" [ngStyle]="{'z-index':indexAction[3]}"
                class="col-sm-12 p-0 d-flex justify-content-center align-items-center position-relative mt-4 container_link"
                style="width: 300px;" >
                <app-action-attribute [closeActionByOutsideClick]="closeActionByOutsideClick"
                    [configAction]="configLinkEditor" [index]="indexTemplate + '6013'" (vinculo)="setData($event,24,1)"
                    (text)="setData($event,23,1)" [textData]="textDataMaster" [effectType]="textDataMaster.enlaceEffect"
                    (effect)="setData($event,11,1)" (text_roll)="setData($event,13,1)" (linkType)="setData($event,12,1)"
                    *ngIf="builder" (isTextEditor)="updateIndex($event,3)">
                </app-action-attribute>
                <div class="col-sm-12 p-0 d-flex justify-content-center align-items-center position-relative linkContent"
                    style="width: 300px;"
                    (mouseover)="fourSection=true" (mouseout)="fourSection=false"
                    [ngClass]="{'fade-right':textDataMaster.enlaceEffect == 'fdr' , 'fade-left':textDataMaster.enlaceEffect == 'fdl' , 'fade-top':textDataMaster.enlaceEffect == 'fdt' , 'fade-bottom':textDataMaster.enlaceEffect == 'fdb' , 'fade-in':textDataMaster.enlaceEffect == 'fdi'}">
                    <a *ngIf="textDataMaster.typelink == 'link'" (click)="hreFunction(textDataMaster.link)"
                        target="_blank" class="text-left linkVinculo" [innerHTML]="textDataMaster.enlace | safeHtml">
                    </a>
                    <button *ngIf="textDataMaster.typelink == 'btn'" (click)="hreFunction(textDataMaster.link)"
                        class="text-left linkButton" [innerHTML]="textDataMaster.enlace | safeHtml">
                    </button>
                    <span class="tooltipAct" *ngIf="fourSection && textDataMaster.text_roll"
                        [innerHTML]="textDataMaster.text_roll | safeHtml"></span>
                </div>
            </div>
        </div> -->
        <!-- <div [ngClass]="{'col-sm-12': builder , 'col-sm-10': !builder}"
            class="d-flex flex-column justify-content-center align-items-center p-0"
            style="padding-bottom: 40px !important;">

            <div [ngClass]="{'container-dash':builder}" [ngStyle]="{'z-index':1}"
                class="col-sm-12 p-0 d-flex justify-content-center align-items-center position-relative mt-4 container_link"
                style="width: 300px;">
                <div class="col-sm-12 p-0 d-flex justify-content-center align-items-center position-relative linkContent"
                    style="width: 300px;" (mouseover)="fourSection=true" (mouseout)="fourSection=false"
                    [ngClass]="{'fade-right':textDataMaster.enlaceEffect == 'fdr' , 'fade-left':textDataMaster.enlaceEffect == 'fdl' , 'fade-top':textDataMaster.enlaceEffect == 'fdt' , 'fade-bottom':textDataMaster.enlaceEffect == 'fdb' , 'fade-in':textDataMaster.enlaceEffect == 'fdi'}">
                    <button (click)="hreFunction(textDataMaster.enlace)"
                        class="text-left linkButton">Ver mas
                    </button>
                </div>
            </div>

        </div> -->
    </div>
    <div class="navigation-point d-flex justify-content-center align-items-center">
        <div *ngFor="let point of arrayPage; let i = index" class="point"
            [ngClass]="{'navigation-inactive': (i+1) != indexCarrouselEditor , 'navigation-active': (i+1) == indexCarrouselEditor}"
            (click)="changeEditorByPage(i)"></div>
    </div>
    <div class="editorNavigation" *ngIf="builder">
        <div class="paginator-actions">
            <div class="pages">
                <!--button [ngClass]="{'page-active':page == (pageActive + 1),'page-inactive' : page != (pageActive + 1)}"></button-->
                <button *ngFor="let a of arrayPage; let i = index"
                    [ngClass]="{'page-active': (i + 1) == indexCarrouselEditor ,'page-inactive': (i + 1) != indexCarrouselEditor}"
                    (click)="changeEditorByPage(i)">{{i + 1}}</button>
            </div>
            <!-- <button
               [ngClass]="{'action-inactive':(pageActive + 1) == paginatorPrint.length, 'action-active': (pageActive + 1) < paginatorPrint.length }"
               (click)="navigatePaginator(2)">Siguiente</button> -->
            <button class="action-active" (click)="next()">Siguiente</button>
        </div>
    </div>
</div>