@import '../../../../_shared/styles/variables.scss';
.customRoles {
    border-radius: 0px !important;
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    border-radius: 0px !important;
}
.titlePermitsBold {
    font-size: 1rem !important;
    font-family: workSans_bold;
    color: $color-red;
    padding: 0px !important;
    margin: 0px !important;
}
.input {
    width: 100% !important;
    min-height: 26px;
    -webkit-box-sizing: border-box !important;
    -moz-box-sizing: border-box !important;
    box-sizing: border-box !important;
}
.min-height {
    min-height: 30px;
    height: 30px;
}
.permits-content {
    margin-top: 15px;
}
.content-permits {
    margin-top: 30px;
}
.box-parent {
    display: grid;
    grid-template-columns: repeat(2, 5fr);
    grid-template-rows: repeat(2, 5fr);
    width: 50%;
    justify-items: center;
    margin: auto;
}

.box-parent .content-grid {
    width: 100%;
    margin-bottom: 15px !important;
    padding-right: 10%;
}
.box-parent .content-grid .input_container {
    width: 90% !important;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.box-parent .content-grid .input_container .actionCheck {
    display: block;
    position: relative;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.box-parent .content-grid .input_container .actionCheck .iconView {
    width: 15px;
    height: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
}
.box-parent .content-grid .input_container .actionCheck .bodyPermitsBold {
    padding: 3px 0px 0px 0px;
    height: 20px;
    color: $color_blue;
    font-family: workSans_bold;
    font-size: 15px !important;
    font-weight: 900;
    margin: 0px 0px 0px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: -1px;
}
.box-parent .content-grid .input_container .actionCheck input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.box-parent .content-grid .input_container .actionCheck .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #fff;
    border-radius: 3px;
    border: solid 1px $color_blue;
}
.box-parent .content-grid .input_container .actionCheck:hover input ~ .checkmark {
}
.box-parent .content-grid .input_container .actionCheck input:checked ~ .checkmark {
    background-color: #fff;
    border-radius: 3px;
    border: solid 1px $color_blue;
}
.box-parent .content-grid .input_container .actionCheck .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
.box-parent .content-grid .input_container .actionCheck input:checked ~ .checkmark:after {
    display: block;
}
.box-parent .content-grid .input_container .actionCheck .checkmark:after {
    left: 9px;
    bottom: 5px;
    width: 7px;
    height: 20px;
    border: solid $color-red;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.box-parent .content-grid-body {
    width: 100%;
    margin-top: -15px;
    padding: 0px 0px 0px 12px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    border-bottom: solid 1px white;
}
.box-parent .content-grid-body .lines-connector {
    width: 33px;
    height: 33px;
    margin-bottom: 15px;
    border-left: solid 1px $color-blue;
    border-bottom: solid 1px $color-blue;
}

.box-parent .content-grid-body .input_container {
    width: 90% !important;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.box-parent .content-grid-body .input_container .actionCheck {
    display: block;
    position: relative;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.box-parent .content-grid-body .input_container .actionCheck h4 {
    padding: 3px 0px 0px 0px;
    height: 20px;
    color: $color_blue;
    font-weight: 400;
    font-size: 12px;
    margin: 0px 0px 0px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box-parent .content-grid-body .input_container .actionCheck input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.box-parent .content-grid-body .input_container .actionCheck .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #fff;
    border-radius: 3px;
    border: solid 1px $color_blue;
}
.box-parent .content-grid-body .input_container .actionCheck:hover input ~ .checkmark {
}
.box-parent .content-grid-body .input_container .actionCheck input:checked ~ .checkmark {
    background-color: #fff;
    border-radius: 3px;
    border: solid 1px $color_blue;
}
.box-parent .content-grid-body .input_container .actionCheck .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
.box-parent .content-grid-body .input_container .actionCheck input:checked ~ .checkmark:after {
    display: block;
}
.box-parent .content-grid-body .input_container .actionCheck .checkmark:after {
    left: 9px;
    bottom: 5px;
    width: 7px;
    height: 20px;
    border: solid $color-blue;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.input-box-parent {
    & + span {
        font-weight: bold;
        padding: 0px 0px 0px 1em;
    }
}
.input-box-child {
}

.submit-rol-button {
    margin-top: 50px;
}

.customRoles {
    position: absolute;
    top: 0px;
    background-color: red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
