<!-- <h1 mat-dialog-title>Hi {{data.name}}</h1> -->
<div style="text-align:center;">
    <span style="color: #4169af; font-size: 26px; font-weight: 800;">
        {{ data.entityName || '' }}
    </span>
</div>
<div style="margin: 30px;">
    <p> 
        <span style="font-weight: 800;">Entidad:</span> {{ data.entityName || '' }}
    </p>
    <p> 
        <span style="font-weight: 800;">Número de proceso:</span> {{ data.processNumber || '' }}
    </p>
    <p>
        <span style="font-weight: 800;">Fase / Estado:</span> {{ data.processStage || '' }}
    </p>
    <p>
        <span style="font-weight: 800;">Fecha de publicación:</span> {{ data.dateLoad ? data.dateLoad.split('T')[0] : '' }}
    </p>
    <p>
        <span style="font-weight: 800;">Fecha de última publicación:</span> {{ data.lastDateLoad ? data.lastDateLoad.split('T')[0] : '' }}
    </p>
    <p>
        <span style="font-weight: 800;">Cuantía del proceso:</span> $ {{ data.basePrice }}
    </p>
    <p>
        <span style="font-weight: 800;">Modalidad de contratación:</span> {{ data.processMode || '' }}
    </p>
    <p>
        <span style="font-weight: 800;">Duración:</span> {{ data.processDuration || '' }}
    </p>
    <p>
        <span style="font-weight: 800;">Lugar de contratación:</span> {{ data.processLocation || '' }}
    </p>
    <p>
        <span style="font-weight: 800;">Producto o servicio asociado:</span> {{ data.processMainCategory || '' }}
    </p>
    <p>
        <span style="font-weight: 800;">Producto o servicio adicional asociado:</span> {{ data.processAdditionalCategory || '' }}
    </p>
    <p>
        <span style="font-weight: 800;">Tipo de contrato:</span> {{ data.processContractType || '' }}
    </p>
    <div style="margin-top: 15px">
        <p>
            <img src="assets/imgs/iconos/alerta.svg" style="width: 20px; height: 20px">
            Ir a SECOP
        </p>
        <div style="border-style: solid;">
            <p style="margin: 10px; justify-content: left;">
                <a href="javascript:void(0)" (click)="openUrl()" target="_blank">{{ data.processUrl }}</a>
            </p>
        </div>
    </div>
    <div style="margin-top: 15px">
        <p>
            Objeto del proceso
        </p>
        <div style="border-style: solid;">
            <p style="margin: 10px">
                {{ data.processObject || '' }}
            </p>
        </div>
    </div>
    <div class="btn-container">
        <span (click)="closeDialog()"class="general-btn">CERRAR</span>
    </div>
</div>