$color-blue: #003595;
$color-red: #f42f63;
.select {
  width: 100% !important;
  border: 1px solid #3366cc;
}

table th:first-child {
  border-radius: 40px 0 0 0px;
}

table th:last-child {
  border-radius: 0 40px 0px 0;
}

.li_border_mod {
  border-right: 1px solid #3366cc;
  display: flex;
  align-items: center;
}
.container-table {
  //border-top: dashed 1px $color-red;
}
.RedLine {
  width: 85%;
  border-style: dashed;
  border-color: #f42f63;
  border-width: 1px;
}
.table-dynamic {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.table-dynamic thead {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.table-dynamic thead tr {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}
.table-dynamic thead .row1 {
  width: 20%;
  border-radius: 20px 0px 0px 0px;
  background-color: $color-blue;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 14px;
  font-family: "Work Sans", sans-serif;
  font-weight: lighter;
}
.table-dynamic thead .row2 {
  width: 20%;
  background-color: $color-blue;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 14px;
  font-family: "Work Sans", sans-serif;
  font-weight: lighter;
}
.table-dynamic thead .row3 {
  width: 20%;
  background-color: $color-blue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 14px;
  font-family: "Work Sans", sans-serif;
  font-weight: lighter;
}
.table-dynamic thead .row4 {
  width: 20%;
  border-radius: 0px 0px 0px 0px;
  background-color: $color-blue;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 14px;
  font-family: "Work Sans", sans-serif;
  font-weight: lighter;
}
.table-dynamic thead .row5 {
  width: 10%;
  border-radius: 0px 0px 0px 0px;
  background-color: $color-blue;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 14px;
  font-family: "Work Sans", sans-serif;
  font-weight: lighter;
}
.table-dynamic thead .row6 {
  width: 10%;
  border-radius: 0px 20px 0px 0px;
  background-color: $color-blue;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 14px;
  font-family: "Work Sans", sans-serif;
  font-weight: lighter;
}
.table-dynamic tbody {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.table-dynamic tbody tr {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-bottom: solid 1px $color-blue;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.table-dynamic tbody tr:last-child {
  border-bottom: none;
}
.table-dynamic tbody td {
  padding: 0px !important;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 70px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(0, 0, 0, 0.7);
  font-size: 14px;
  font-family: "Work Sans", sans-serif;
  font-weight: lighter;
}
.table-dynamic tbody .row1 {
  width: 20%;
  border-right: solid 1px $color-blue;
}
.table-dynamic tbody .row2 {
  width: 20%;
  border-right: solid 1px $color-blue;
}
.table-dynamic tbody .row3 {
  width: 20%;
  border-right: solid 1px $color-blue;
}
.table-dynamic tbody .row4 {
  width: 20%;
  border-right: solid 1px $color-blue;
}
.table-dynamic tbody .row5 {
  width: 10%;
  border-right: solid 1px $color-blue;
}
.table-dynamic tbody .row6 {
  width: 10%;
  flex-direction: column;
}
.table-dynamic tbody .row6 a {
  width: 100%;
  height: 35px;
  border-bottom: solid 1px $color-blue;
  color: $color-blue;
  padding: 0px 10px;
  font-size: 14px;
  font-family: "Work Sans", sans-serif;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.table-dynamic tbody .row6 a:last-child {
  border-bottom: none;
}
.table-dynamic tbody .row4 .viewAction {
  width: 100%;
  height: 70px;
  border: none;
  padding: 0px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-family: "Work Sans", sans-serif;
  font-weight: lighter;
  cursor: pointer;
}
.table-dynamic tr {
  border-bottom: solid 1px $color-blue;
  height: 70px;
  max-height: 70px !important;
}
.table-dynamic tr td {
  text-align: center;
  height: 70px;
  max-height: 70px !important;
}

.table-dynamic-lastchild {
  display: grid;
  height: 100%;
  border: none;
}
