<section class="consultar-planes-section">
    <!--<h4>{{ errorMessage }}</h4>-->
    <div style="height: 75vh;">
        <div class="container" style="height: 100%;display: flex;justify-content: center;text-align: center;">
            <div class="row" style="align-self: center;">
                <div class="yellow-alert-box">
                    <b>Ups! Te pedimos disculpas</b>, pero la información que estás buscando no está aquí. <br>
                    Por favor, vuelve a la <a routerLink="" style="color: #66512c;"><b>página principal</b></a>
                </div>
            </div>
        </div>
    </div>

</section>