<section class="contenedor-noticias-tendencias">
    <div class="col-sm-12 p-0 d-flex flex-column justify-content-start align-items-start">
        <div class="productos-servicios">
            <h2 class="title-productos-servicios">Productos y servicios más buscados en la web</h2>
        </div>
    </div>
    <div class="col-sm-12 p-0 d-flex flex-column justify-content-start align-items-start">
        <div class="componente-hijo mercado-libre" style="width: 100%;">
            <app-mercado-libre></app-mercado-libre>
        </div>
    </div>
    <div class="col-sm-12 p-0 d-flex flex-column justify-content-start align-items-start">
        <div class="componente-hijo google-trends" style="width: 100%;">
            <app-google-trends style="width: 100%;"></app-google-trends>
        </div>
    </div>
    <div class="col-sm-12 p-0 d-flex flex-column justify-content-start align-items-start">
        <div class="componente-hijo google-trends" style="width: 100%;">
            <app-redes-sociales style="width: 100%;"></app-redes-sociales>
        </div>
    </div>
    <!-- <div class="col-sm-12 p-0 d-flex flex-column justify-content-start align-items-start" style="margin-top: 1rem;">
        <div class="productos-servicios">
            <h2 class="title-productos-servicios">Feed de redes sociales</h2>
        </div>
        <div class="centeringBtn" style="margin-top: 1em; margin-bottom: 1em;" *ngIf="!isRedesSocuales">
            <button class="btn-submit-wine2" (click)="verRedesSociales()">
                VER REDES SOCIALES
            </button>
        </div>
        <div *ngIf="isRedesSocuales" style="width: 100%;">
            <div class="elfsight-app-0af49379-fbb1-4793-98a7-b505e04f86fc" style="width: 100%; margin-top: 1rem;">
            </div>
        </div>
    </div> -->
</section>