<br>
<br>
<div class="container">
    <div class="row">
        <div class="offset-md-2 col-md-8  text-center">
            <h2 class="font_worksans_semibold">
                Restablecer contraseña
            </h2>
        </div>
        <div class="mx-auto" style=" display: flex;">
            <span class="title_decorator"></span>
            <p class="font_p d-flex align-items-center fs-1-1" style="margin-top: calc(2%);">
                Para recuperar su contraseña, ingrese el correo electrónico con el que se registro
            </p>
        </div>
        <div class="offset-md-4 col-md-4 ">
            <br><br>
            <div class="font_p">

                <div class="form-group text-center required">
                    <label class="font_worksans_medium">Correo electrónico</label>

                    <input type="text" [(ngModel)]="email" class="form-control text-center" placeholder=""
                        (keyup)="do_mailCheck()" (keyup.enter)="restorePassEnabled && do_restorePass();" />

                </div>

                <div class="form-group text-center">
                    <br>
                    <a [className]="restorePassEnabled ? 'btn_primary' : 'btn-disable btn_primary'"
                        (click)="restorePassEnabled && do_restorePass();">Recuperar contraseña</a>
                </div>
            </div>

        </div>

    </div>
</div>


<br>
<br>

<ng-template #modalrestore id="modalrestore" let-c="close" let-d="dismiss">
    <div class="modal-body">
        <div *ngIf="openModal" class="form-group text-center">
            <p>
                {{restoreMessage}}
            </p>
        </div>

        <div class="col text-center">
            <span style="cursor:pointer" class="btn_third" (click)="do_closeModal()">Cerrar</span>
        </div>
    </div>
</ng-template>